models/ODD_Meta_niveau0_V17.odd

<?xml version="1.0" encoding="UTF-8"?>
    <?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
    <?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>

<!-- Version V15, Décembre 2017 : Organisation en tête de chapîtres, reprise des intitulés (plus simple, harmonisation), changement de certaines propriétés d'éléments -->

<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
	xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0"
	xmlns:rng="http://relaxng.org/ns/structure/1.0">

	<teiHeader>
		<fileDesc>
			<titleStmt>
				<title>
					<idno type="title">Personnalisation ODD Corpus Oraux et Multimodaux</idno>
					<bibl> CORLI et IRCOM </bibl>
					<desc> L'objectif de cette personnalisation est de proposer un sous-ensemble
						d'éléments TEI pour décrire le niveau minimal des métadonnées de Corpus
						(niveau 0) défini au sein de CORLI </desc>
				</title>
				<principal>
					<name type="org"> CORLI - IRCOM </name>
					<name type="org"> Carole Etienne, Loic Liégeois, Christophe Parisse </name>
				</principal>
			</titleStmt>
			<publicationStmt>
				<publisher>CORLI wiki</publisher>
			</publicationStmt>
			<sourceDesc>
				<p>written from IRCOM and CORLI recommandations</p>
			</sourceDesc>
		</fileDesc>
		<xenoData>
			<rng:data>http://www.tei-c.org/ns/1.0</rng:data>
		</xenoData>
	</teiHeader>

	<text>
		<body>

			<!-- explications de l'usage et exemples
				on ne s'intéresse qu'aux elementSpec
					les moduleRef ne sont pas utilisés pour l'instant: ils sont là pour les autres usages des ODD

				elementSpec ident="nom du tag dans la TEI" corresp="tag optionel à utiliser si ident n'est pas unique"
					desc: multilingue possible voir champ xml:lang
					content: contenu du noeud y compris partie texte
					attList: listes des attributs

				dans content
					sequence minOccurs maxOccurs (s'il y a plus d'un élément)
						elementRef key="nom du tag dans la TEI" corresp="tag optionel à utiliser si ident n'est pas unique"
						elementRef key=...
					elementRef minOccurs maxOccurs (min et max sont optionels: omis s'ils valent 1)
					textNode
					dataRef : pour indiquer le format du noeud (à la place de textNode)
						integer decimal NCName string duration anyURI data - si rien pas de contrôle de format exemple titre
					valList : si le node ne peut prendre que certaines valeurs prédéfinies

				dans attList
					attDef ident="attribut-dans-TEI" rend="valeur par défaut de l'attribut dans les valeurs de la liste" usage="rec ou req"
						desc (multilingue)
						desc = nom de la rubrique pour les sections, les élements à saisir, pour les valList =bulle d'aide
						datatype
							dataRef : format de l'attribut
						... ou sinon une liste de valeurs: si une seule pas de choix valeur obigatoire
						valList ==> choix multiples type ascenseur
							valItem ident="valeur-dans-TEI"
								desc (multilingue) + rendition (champ aide optionel ? - emplacement à affiner)
			-->

			<egXML xmlns="http://www.tei-c.org/ns/Examples">
				<!-- Un exemple avec tout dedans -->
				<elementSpec ident="tag_TEI" module="header"
					corresp="nom_pour_identification_unique">
					<desc xml:lang="fr">... en français ... - partie affichée pour décrire
						l'élément</desc>
					<desc xml:lang="en">... en anglais ...</desc>
					<content>
						<sequence minOccurs="0" maxOccurs="unbounded">
							<elementRef key="sous_tag_1"
								corresp="autre_nom_pour_identification_unique"/>
							<elementRef key="sous_tag_2"/>
						</sequence>
						<elementRef key="idno" corresp="handle" minOccurs="1" maxOccurs="unbounded"/>
						<textNode/>
						<dataRef name="NCName"/>
					</content>
					<attList>
						<attDef ident="mimeType" usage="req" mode="change">
							<valList >
								<valItem ident="audio/wav" >
									<desc xml:lang="fr">format wav</desc>
									<desc xml:lang="en">Wav format</desc>
								</valItem>
								<valItem ident="audio/mp3" >
									<desc xml:lang="fr">format mp3</desc>
									<desc xml:lang="en">mp3 format</desc>
								</valItem>
								<valItem ident="mimeType.video/mp4">
									<desc xml:lang="fr">format mp4</desc>
									<desc xml:lang="en">mp4 format</desc>
								</valItem>
								<valItem ident="mimeType.video/mov" >
									<desc xml:lang="fr">format mov</desc>
									<desc xml:lang="en">mov format</desc>
								</valItem>
								<valItem ident="mimeType.video/wmv" >
									<desc xml:lang="fr">format wmv</desc>
									<desc xml:lang="en">wmv format</desc>
								</valItem>
								<valItem ident="mimeType.video/avi" >
									<desc xml:lang="fr">format avi</desc>
									<desc xml:lang="en">avi format</desc>
								</valItem>
								<valItem ident="mimeType.video/ogg" >
									<desc xml:lang="fr">format ogg</desc>
									<desc xml:lang="en">ogg format</desc>
								</valItem>
								<valItem ident="other" >
									<desc xml:lang="fr">autre format</desc>
									<desc xml:lang="en">another format</desc>
								</valItem>
							</valList>
						</attDef>
						<attDef ident="dur-iso" usage="req" mode="change">
							<desc xml:lang="fr">Durée du média : chaque media peut avoir une durée
								différente</desc>
							<desc xml:lang="en">media duration : each media could have a different
								duration </desc>
							<datatype>
								<dataRef name="duration"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>
			</egXML>

			<!-- definition de TEI_CORPO_METADATA-->
			<schemaSpec ident="TEI_CORPO_METADATA" start="TEI" ns="http://www.tei-c.org/ns/1.0" corresp="/TEI/profileDesc/particDesc /TEI/fileDesc/sourceDesc">
				<!-- ajouter teiCorpus par la suite si collections -->

				<!-- required modules -->
				<moduleRef key="tei"/>
				<!-- à compléter par : reg choice orig pour l'orthographe adapté -->
				<moduleRef key="core"
					include="title bibl desc name respStmt resp publisher pubPlace ref p media date "/>
				<moduleRef key="header"
					include="teiHeader fileDesc titleStmt idno principal publicationStmt availability licence sourceDesc profileDesc langUsage language
					 encodingDesc appInfo application projectDesc classDecl taxonomy catDesc category"/>
				<!-- à compléter par : body div text-->
				<moduleRef key="textstructure" include="TEI text body div "/>
				<!-- optional modules -->
				<!-- à compléter par : u annotationBlock incident kinesic pause shift vocal-->
				<moduleRef key="spoken"
					include="recordingStmt recording transcriptionDesc annotationBlock u vocal kinesic incident pause"/>
				<moduleRef key="namesdates"
					include="persName surname listPerson person age occupation langKnowledge langKnown listPlace place country settlement district "/>
				<moduleRef key="corpus"
					include="activity textDesc channel constitution derivation domain factuality interaction preparedness purpose particDesc settingDesc setting"/>
				<!-- à compléter par Christophe P -->
				<moduleRef key="linking" include="anchor seg timeline when"/>
				<moduleRef key="analysis" include=" w span spanGrp"/>
				<!-- ajouter interp interpGrp-->
				<moduleRef key="transcr"/>
				<!-- utilisé ???-->

				<!-- exemple d'include pour une implémentation future
					<specGrpRef target="media.odd"/>
					<specGrpRef target="partdesc.odd"/>
				-->

				<!-- structure generale TEI -->
				<elementSpec ident="TEI" module="textstructure" mode="change">
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="teiHeader"/>
							<elementRef key="text"/>
						</sequence>
					</content>
				</elementSpec>

				<!-- structure generale teiHeader -->
				<elementSpec ident="teiHeader" module="header" mode="change">
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="fileDesc"/>
							<elementRef key="profileDesc"/>
							<elementRef key="encodingDesc"/>
						</sequence>
					</content>
				</elementSpec>

				<elementSpec ident="text">
					<!--
             unused element dont need to be defined
             they will be ignored
          -->
					<content/>
				</elementSpec>

				<elementSpec ident="fileDesc" module="header">
					<desc xml:lang="fr">Titre, citation, diffusion et données primaires ~ signal audio/vidéo</desc>
					<desc xml:lang="en">Title, citation, diffusion and primary data ~ signal audio/vidéo</desc>
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="titleStmt"/>
							<elementRef key="publicationStmt"/>
							<elementRef key="sourceDesc"/>
						</sequence>
					</content>
				</elementSpec>

				<elementSpec ident="profileDesc" module="header">
					<desc xml:lang="fr">Catégorie, participants, contexte, langue</desc>
					<desc xml:lang="en">Category, participants, setting, language</desc>
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="textDesc"/>
							<elementRef key="particDesc"/>
							<elementRef key="settingDesc"/>
							<elementRef key="langUsage"/>
						</sequence>
					</content>
				</elementSpec>

				<elementSpec ident="encodingDesc" module="header">
					<desc xml:lang="fr">Logiciel, projet, annotations</desc>
					<desc xml:lang="en">Software, project, annotations</desc>
					<content>
						<sequence minOccurs="0" maxOccurs="1">
							<elementRef key="transcriptionDesc"/>
							<elementRef key="projectDesc"/> <!-- à voir avec Loïc est-ce bien utile on a déjà une description courte dans title et une longue dans setting/activity -->
							<elementRef key="appInfo"/>
						</sequence>
					</content>
				</elementSpec>


				<!-- titleStmt : un principal, de 0 à n respStmt (collecteur, transcripteur, collecteur, ...) -->
				<elementSpec ident="titleStmt" module="header" mode="change" n="1">
					<desc xml:lang="fr">La ressource: titre, description, citation, responsable, contributeurs</desc>
					<desc xml:lang="en">Resource : Title, description, citation, responsible, contributors</desc>
					<content>
						<elementRef key="title" minOccurs="1" maxOccurs="1" />
						<elementRef key="principal" minOccurs="1" maxOccurs="unbounded"/>
						<elementRef key="respStmt" minOccurs="0" maxOccurs="unbounded" />
					</content>
				</elementSpec>

				<elementSpec ident="title" module="core" mode="change">
					<desc xml:lang="fr"> Titre, description, citation</desc>
					<desc xml:lang="en"> Title, description, citation</desc>
					<content>
						<elementRef key="idno" corresp="title" minOccurs="1" maxOccurs="1"/>
						<elementRef key="desc" minOccurs="1" maxOccurs="1"/>
						<elementRef key="bibl" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="desc" module="core">
					<desc xml:lang="fr">Description courte</desc>
					<desc xml:lang="fr">Short Description</desc>
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<elementSpec ident="idno" corresp="title" module="header">
					<desc xml:lang="fr">Titre de la ressource, nom d'usage </desc>
					<desc xml:lang="fr">Resource title, usual title</desc>
					<content>
						<textNode/>
					</content>
					<attList>
						<attDef ident="type" usage="req" mode="change" rend="title">
							<valList>
								<valItem ident="title"/>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="bibl" module="core">
					<desc xml:lang="fr">Citation(s) accompagnant la ressource: projet, équipe de recherche, référence bibliographique</desc>
					<desc xml:lang="fr">Citation(s) : project, research team, scientific reference</desc>
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<elementSpec ident="principal" module="header">
					<desc xml:lang="fr">Responsable de la ressource: organisme, laboratoire, projet, personne</desc>
					<desc xml:lang="en">Responsible(s) of the ressource: organism, research lab, project, person</desc>
					<content>
						<elementRef key="name" minOccurs="1" maxOccurs="1"/>
						<!-- default : alphanum -->
						<dataRef name="NCName"/>
					</content>
				</elementSpec>

				<elementSpec ident="name" module="core">
					<desc xml:lang="fr">Nom</desc>
					<desc xml:lang="en">Name</desc>
					<content>
						<!-- default="alphanum" -->
						<dataRef name="NCName"/>
					</content>
					<attList>
						<attDef ident="type" usage="req" mode="change" rend="name.project">
							<valList mode="replace">
								<valItem ident="name.organism">
									<desc rendition="texte aide laboratoire" xml:lang="fr"
										>laboratoire ou institution</desc>
									<desc rendition="help text on search lab" xml:lang="en">Research
										laboratory or institution</desc>
								</valItem>
								<valItem ident="name.project">
									<desc rendition="texte aide projet" xml:lang="fr">projet</desc>
									<desc rendition="help texte on project" xml:lang="en"
										>project</desc>
								</valItem>
								<valItem ident="name.person">
									<desc rendition="texte aide personne" xml:lang="fr"
										>personne</desc>
									<desc rendition="help text on person" xml:lang="en"
										>person</desc>
								</valItem>
								<valItem ident="name.other">
									<desc xml:lang="fr">autre entité</desc>
									<desc xml:lang="en">other entity</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<!-- respStmt dans titleStmt -->
				<elementSpec ident="respStmt" module="core">
					<desc xml:lang="fr">Contributeurs </desc>
					<desc xml:lang="en">Contributors</desc>
					<content>
						<sequence minOccurs="1" maxOccurs="unbounded">
							<elementRef key="resp"/>
							<elementRef key="name"/>
						</sequence>
					</content>
				</elementSpec>

				<elementSpec ident="resp" module="core">
					<desc xml:lang="fr">Rôle, fonction</desc>
					<desc xml:lang="en">Function</desc>
					<content>
						<valList mode="replace">
							<valItem ident="resp.annotator">
								<desc rendition="texte aide annotateur" xml:lang="fr">annotateur</desc>
								<desc rendition="help text on annotator" xml:lang="en">annotator</desc>
							</valItem>
							<valItem ident="resp.compiler">
								<desc rendition="texte aide coordinateur" xml:lang="fr">coordinateur</desc>
								<desc rendition="help text on annotator" xml:lang="en">coordinator</desc>
							</valItem>
							<valItem ident="resp.interviewer">
								<desc rendition="texte aide interviewer" xml:lang="fr">interviewer</desc>
								<desc rendition="help text on interviewer" xml:lang="en">interviewer</desc>
							</valItem>
							<valItem ident="resp.recorder">
								<desc rendition="texte aide collecteur" xml:lang="fr">collecteur</desc>
								<desc rendition="help text on recorder" xml:lang="en">recorder</desc>
							</valItem>
							<valItem ident="resp.transcriber">
								<desc rendition="texte aide transcripteur" xml:lang="fr">transcripteur</desc>
								<desc rendition="help text on transcriber" xml:lang="en">transcriber</desc>
							</valItem>
							<valItem ident="resp.translator">
								<desc rendition="texte aide traducteur" xml:lang="fr">traducteur</desc>
								<desc rendition="help text on translator" xml:lang="en">translator</desc>
							</valItem>
							<valItem ident="resp.data_inputter">
								<desc rendition="texte aide data_inputter" xml:lang="fr">vérificateur - normalisateur</desc>
								<desc rendition="help text on data_inputter" xml:lang="en">data_inputter</desc>
							</valItem>
							<valItem ident="resp.OTHER">
								<desc xml:lang="fr">autre rôle</desc>
								<desc xml:lang="en">other role</desc>
							</valItem>
						</valList>
					</content>
				</elementSpec>

				<!-- publicationStmt : au moins un , un handle et une licence
	  				par defaut Creative Common CC BY-NC-SA 2.0 FR c'est à dire
	  				"Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions"-->
				<elementSpec ident="publicationStmt" module="header" mode="change" n="1">
					<desc xml:lang="fr">Diffusion : identifiant unique, diffusion, sites web, licence</desc>
					<desc xml:lang="en">Diffusion : handle, publisher, pubPlace, license</desc>
					<content>
						<elementRef key="publisher" minOccurs="1" maxOccurs="unbounded"/>
						<elementRef key="pubPlace" minOccurs="0" maxOccurs="unbounded"/>
						<!-- carole à vérifier avec Loïc : zero car je ne suis pas sure que chaque ressource aura un handle si elle n'est pas ds ortolang ou cocoon,
	  					more:la même ressource peut avoir plusieurs handles si déposée sur plusieurs plateformes
		  				pas de type car handle alphanum + certains caractères spéciaux ? -->
						<elementRef key="idno" corresp="handle" minOccurs="0" maxOccurs="unbounded"/>
						<elementRef key="availability" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="availability" module="header">
					<desc xml:lang="fr">Conditions de diffusion</desc>
					<desc xml:lang="fr">Conditions de diffusion</desc>
					<content>
						<elementRef key="licence" minOccurs="1" maxOccurs="unbounded"/>
					</content>
					<attList>
						<!-- value=restricted car une creative common telle qu'elle soit-->
						<attDef ident="status" usage="req" mode="change" rend="restricted">
							<valList>
								<valItem ident="restricted"/>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="licence" module="header">
					<desc xml:lang="fr">License de diffusion</desc>
					<desc xml:lang="fr">Diffusion Licence</desc>
					<content>
						<textNode/>
					</content>
					<attList>
						<attDef ident="type" usage="req" mode="change" rend="licence.type.BY_NC_SA">
							<valList mode="replace">
								<valItem ident="licence.type.BY_NC_SA">
									<desc xml:lang="fr">Creative Common CC_BY_NC_SA : Attribution sans usage commercial et partage
										suivant les mêmes modalités </desc>
									<desc xml:lang="en">Creative Common CC_BY_NC_SA : Attribution and no Commercial use and share
										in the same way</desc>
								</valItem>
								<valItem ident="licence.type.BY">
									<desc xml:lang="fr">Creative Common CC_BY : Attribution</desc>
									<desc xml:lang="en">Creative Common CC_BY : Attribution</desc>
								</valItem>
								<valItem ident="licence.type.BY_ND">
									<desc xml:lang="fr">Creative Common CC_BY_ND : Attribution sans modification</desc>
									<desc xml:lang="en">Creative Common CC_BY_ND : Attribution and no modification</desc>
								</valItem>
								<valItem ident="licence.type.BY_NC_ND">
									<desc xml:lang="fr">Creative Common CC_BY_NC_NDY : Attribution sans usage commercial et sans
										modification</desc>
									<desc xml:lang="en">Creative Common CC_BY_NC_ND : Attribution and no commercial use and no
										modification</desc>
								</valItem>
								<valItem ident="licence.type.BY_NC">
									<desc xml:lang="fr">Creative Common CC_BY_NC : Attribution sans usage commercial</desc>
									<desc xml:lang="en">Creative Common CC_BY_NC : Attribution and no commercial use</desc>
								</valItem>

								<valItem ident="licence.type.BY_SA">
									<desc xml:lang="fr">Creative Common CC_BY_SA : Attribution et partage suivant les mêmes
										modalités </desc>
									<desc xml:lang="en">Creative Common CC_BY_SA : Attribution and share in the same way</desc>
								</valItem>
								<valItem ident="licence.type.OTHER">
									<desc xml:lang="fr">autre license</desc>
									<desc xml:lang="en">other licence</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="publisher" module="core">
					<desc xml:lang="fr">Projet, archive diffusant la ressource</desc>
					<desc xml:lang="en">Project,archive for ressource distribution</desc>
					<content>
						<textNode/>
						<dataRef name="anyURI"/>
					</content>
				</elementSpec>

				<elementSpec ident="pubPlace" module="core">
					<desc xml:lang="fr">Diffusion dans d'autres sites</desc>
					<desc xml:lang="en">Other diffusion places</desc>
					<content>
						<elementRef key="ref" minOccurs="1" maxOccurs="unbounded"/>
						<textNode/>
					</content>
				</elementSpec>

				<elementSpec ident="idno" corresp="handle" module="header">
				<desc xml:lang="fr">Identifiant unique de la ressource</desc>
				<desc xml:lang="en">Handle</desc>

					<content>
						<textNode/>
					</content>
					<attList>
						<attDef ident="type" usage="req" mode="change" rend="idno.handle">
							<valList>
								<valItem ident="idno.handle">
									<desc xml:lang="fr">handle</desc>
									<desc xml:lang="en">handle</desc>
								</valItem>
								<valItem ident="idno.ISSN">
									<desc xml:lang="fr">ISSN</desc>
									<desc xml:lang="en">ISSN</desc>
								</valItem>
								<valItem ident="idno.ISBN">
									<desc xml:lang="fr">ISBN</desc>
									<desc xml:lang="en">ISBN</desc>
									</valItem>
								<valItem ident="idno.URI">
									<desc xml:lang="fr">URI</desc>
									<desc xml:lang="en">URI</desc>
								</valItem>
								<valItem ident="idno.DOI">
									<desc xml:lang="fr">DOI</desc>
									<desc xml:lang="en">DOI</desc>
								</valItem>
								<valItem ident="idno.ESTC">
									<desc xml:lang="fr">ESTC</desc>
									<desc xml:lang="en">ESTC</desc>
								</valItem>
								<valItem ident="idno.OCLC">
									<desc xml:lang="fr">OCLC</desc>
									<desc xml:lang="en">OCLC</desc>
								</valItem>
								<valItem ident="idno.library">
									<desc xml:lang="fr">library</desc>
									<desc xml:lang="en">library</desc>
								</valItem>
								<valItem ident="idno.OTHER">
									<desc xml:lang="fr">autre identifiant</desc>
									<desc xml:lang="en">other handle</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="ref">
					<desc xml:lang="fr">URL</desc>
					<desc xml:lang="fr">URL</desc>
					<content>
						<textNode/>
					</content>
					<attList>
						<attDef ident="target" usage="req" mode="change">
							<desc xml:lang="fr">Lien vers la ressource (URL)</desc>
							<desc xml:lang="en">URL</desc>
							<datatype>
								<dataRef name="anyURI"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>

				<!-- recordingStmt : recording et medias-->
				<elementSpec ident="sourceDesc" module="header" mode="change" n="1">
					<desc xml:lang="fr">Données primaires (signal)</desc>
					<desc xml:lang="en">Primary data (recording)</desc>
					<content>
						<elementRef key="recordingStmt" minOccurs="1" maxOccurs="1"/>
					</content>
				</elementSpec>

				<elementSpec ident="recordingStmt" module="spoken">
					<content>
						<elementRef key="recording" minOccurs="1" maxOccurs="unbounded"/>
					</content>

					<!--  Des exemples  -->
					<exemplum versionDate="2016-10-04" xml:lang="fr">
						<egXML xmlns="http://www.tei-c.org/ns/Examples">
							<sourceDesc>
								<recordingStmt>
									<recording>
										<p> une balise media par enregistrement</p>
										<media type="audio" mimeType="audio/wav" dur-iso="P36M"
											url="xxx">
											<p> un signal audio anonymisé</p>
											<desc type="anonymisation" subtype="oui"/>
											<desc type="qualite" subtype="peu_bruite"/>
										</media>
									</recording>
									<recording>
										<media type="video" mimeType="video/mp4" dur-iso="P36M"
											url="xxx">
											<p> un signal video anonymisé</p>
											<desc type="anonymisation" subtype="oui"/>
											<desc type="qualite" subtype="peu_bruite"/>
										</media>
									</recording>
									<recording>
										<media type="audio" mimeType="audio/wav" dur-iso="P36M"
											url="xxx">
											<p> un signal audio non anonymisé</p>
											<desc type="anonymisation" subtype="non"/>
											<desc type="qualite" subtype="peu_bruite"/>
										</media>
									</recording>
								</recordingStmt>
							</sourceDesc>
						</egXML>
					</exemplum>
				</elementSpec>

				<elementSpec ident="recording" module="spoken">
					<desc xml:lang="fr">Session, Enregistrement : une même session peut correspondre plusieurs fichiers (qualité et/ou format différents)</desc>
					<desc xml:lang="fr">Recording : a same recording could have several files(differnce in quality or format) </desc>
					<content>
						<elementRef key="p" minOccurs="0" maxOccurs="1"/>
						<elementRef key="media" minOccurs="1" maxOccurs="1"/>
					</content>
				</elementSpec>

				<elementSpec ident="media" module="spoken">
					<desc xml:lang="fr">Média : chaque media peut avoir un type et une durée différente</desc>
					<desc xml:lang="en">Media: each media could have a different type and a different duration </desc>
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="desc" corresp="quality"/>
							<elementRef key="desc" corresp="anonymization"/>
						</sequence>
					</content>
					<attList>
						<attDef ident="type" usage="req" mode="change">
							<desc xml:lang="fr">audio/vidéo</desc>
							<desc xml:lang="en">audio/vidéo</desc>
							<valList>
								<valItem ident="quality.type.audio" >
									<desc xml:lang="fr">signal audio</desc>
									<desc xml:lang="en">audio signal</desc>
								</valItem>
								<valItem ident="quality.type.video" >
									<desc xml:lang="fr">signal vidéo</desc>
									<desc xml:lang="en">vidéo signal</desc>
								</valItem>
								<valItem ident="quality.type.other" >
									<desc xml:lang="fr">autre Signal</desc>
									<desc xml:lang="en">other signal</desc>
								</valItem>
							</valList>
						</attDef>
						<attDef ident="mimeType" usage="req" mode="change">
							<desc xml:lang="fr">format</desc>
							<desc xml:lang="en">format</desc>
							<valList>
								<valItem ident="audio/wav" >
									<desc xml:lang="fr">format wav</desc>
									<desc xml:lang="en">wav format</desc>
								</valItem>
								<valItem ident="audio/mp3" >
									<desc xml:lang="fr">format mp3</desc>
									<desc xml:lang="en">mp3 format</desc>
								</valItem>
								<valItem ident="mimeType.video/mp4">
									<desc xml:lang="fr">format mp4</desc>
									<desc xml:lang="en">mp4 format</desc>
								</valItem>
								<valItem ident="mimeType.video/mov" >
									<desc xml:lang="fr">format mov</desc>
									<desc xml:lang="en">mov format</desc>
								</valItem>
								<valItem ident="mimeType.video/wmv" >
									<desc xml:lang="fr">format wmv</desc>
									<desc xml:lang="en">wmv format</desc>
								</valItem>
								<valItem ident="mimeType.video/avi" >
									<desc xml:lang="fr">format avi</desc>
									<desc xml:lang="en">avi format</desc>
								</valItem>
								<valItem ident="mimeType.video/ogg" >
									<desc xml:lang="fr">format ogg</desc>
									<desc xml:lang="en">ogg format</desc>
								</valItem>
								<valItem ident="other" >
									<desc xml:lang="fr">autre format</desc>
									<desc xml:lang="en">another format</desc>
								</valItem>
							</valList>
						</attDef>
						<attDef ident="dur-iso" usage="req" mode="change">
							<desc xml:lang="fr">durée du média</desc>
							<desc xml:lang="en">media duration</desc>
							<datatype>
								<dataRef name="duration"/>
							</datatype>
						</attDef>
						<attDef ident="url" mode="change">
							<desc xml:lang="fr">url du média</desc>
							<desc xml:lang="en">media url</desc>
							<datatype>
								<dataRef name="anyURI"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="desc" corresp="quality">
					<desc xml:lang="fr">Qualité</desc>
					<desc xml:lang="en">Quality</desc>
					<attList>
						<attDef ident="type" usage="req" mode="change">
							<valList>
								<valItem ident="quality"/>
							</valList>
						</attDef>
						<attDef ident="subtype" usage="req" mode="change">
							<valList>
								<valItem ident="quality.less_noisy">
									<desc xml:lang="fr">moins de 5% de bruit </desc>
									<desc xml:lang="en">less than 5% noisy </desc>
								</valItem>
								<valItem ident="quality.noisy">
									<desc xml:lang="fr">plus de 5% de bruit</desc>
									<desc xml:lang="en">more than 5% noisy </desc>
								</valItem>
								<valItem ident="quality.inaudible">
									<desc xml:lang="fr">inaudible</desc>
									<desc xml:lang="en">inaudible</desc>
								</valItem>
								<valItem ident="quality.soundproof_room">
									<desc xml:lang="fr">chambre sourde</desc>
									<desc xml:lang="en">soundproof</desc>
								</valItem>
								<valItem ident="quality.OTHER">
									<desc xml:lang="fr">autre niveau de bruit</desc>
									<desc xml:lang="en">other noisy level</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="desc" corresp="anonymization">
					<desc xml:lang="fr">Anonymisation</desc>
					<desc xml:lang="en">Anonymization</desc>
					<attList>
						<attDef ident="type" usage="req" mode="change">
							<valList>
								<valItem ident="anonymization"/>
							</valList>
						</attDef>
						<attDef ident="subtype" usage="req" mode="change">
							<valList>
								<valItem ident="anonymization">
									<desc xml:lang="fr">anonymisée</desc>
									<desc xml:lang="en">anonymized</desc>
								</valItem>
								<valItem ident="anonymization.no_anonymization">
									<desc xml:lang="fr">non anonymisée</desc>
									<desc xml:lang="en">no anonymization</desc>
								</valItem>
								<valItem ident="anonymization.partially_anonymized">
									<desc xml:lang="fr">anonymisation partielle</desc>
									<desc xml:lang="en">partially anonymized</desc>
								</valItem>
								<valItem ident="anonymization.OTHER">
									<desc xml:lang="fr">autre niveau d'anonymisation</desc>
									<desc xml:lang="en">other level of anonymization</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>


				<!-- textDesc : catégorisation du document oral-->
				<!-- attention il y a aussi un module additionnel setting ==> détail de la situation, artefact, plan,   ...-->
				<elementSpec ident="textDesc" module="corpus" mode="change" n="1">
					<desc xml:lang="fr">Type de données orales</desc>
					<desc xml:lang="en">Setting</desc>
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="channel"/>
							<elementRef key="constitution"/>
							<elementRef key="derivation"/>
							<elementRef key="domain"/>
							<!--  factuality obligatoire-->
							<elementRef key="factuality"/>
							<!--  interaction obligatoire, le type est inapplicable, le nb de locuteurs actif (active) et passifs (passive) sera intéressant pour un niveau 1 ou 2 ?  -->
							<elementRef key="interaction"/>
							<!--  niveau de préparation si entretien=consignes -->
							<elementRef key="preparedness"/>
							<!--  sujet, théme -->
							<elementRef key="purpose"/>
						</sequence>
					</content>
				</elementSpec>

				<elementSpec ident="channel" module="corpus">
					<desc xml:lang="fr">Canal de l'interaction : radio/tv/téléphone/présence/visio</desc>
					<desc xml:lang="en">Canal : radio/tv/phone/presence/visio</desc>
					<attList>
						<attDef ident="mode" usage="req" mode="change" rend="s" >
							<valList>
								<valItem ident="s"/>
							</valList>
							<!-- mode="s"= default value qui signifie spoken -->
						</attDef>
						<attDef ident="subtype" usage="req" mode="change" rend="mode.face_to_face">
							
							<valList>
								<!-- pas de choix autre volontairement -->
								<valItem ident="mode.face_to_face">
									<desc xml:lang="fr">tous les locuteurs sont présents</desc>
									<desc xml:lang="en">all speakers are in the same setting</desc>
								</valItem>
								<valItem ident="mode.radio">
									<desc xml:lang="fr">à la radio</desc>
									<desc xml:lang="en">on radio</desc>
								</valItem>
								<valItem ident="mode.tv">
									<desc xml:lang="fr">à la télévisison</desc>
									<desc xml:lang="en">on tv</desc>
								</valItem>
								<valItem ident="mode.telephone">
									<desc xml:lang="fr">au téléphone</desc>
									<desc xml:lang="en">over the telephone</desc>
								</valItem>
								<valItem ident="mode.visioconference">
									<desc xml:lang="fr">en visioconférence</desc>
									<desc xml:lang="en">visioconférence</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="constitution" module="corpus">
					<desc xml:lang="fr">Ressource liée</desc>
					<desc xml:lang="en">Linked resource</desc>
					<attList>
						<attDef ident="type" usage="req" mode="change" rend="constitution.single">
							
							<valList>
								<valItem ident="constitution.single">
									<desc xml:lang="fr">ressource autonome</desc>
									<desc xml:lang="en">autonomous resource</desc>
								</valItem>
								<valItem ident="constitution.composite">
									<desc xml:lang="fr">ressource liée à une autre ou sous-partie</desc>
									<desc xml:lang="en">linked resource oe subset</desc>
								</valItem>
								<valItem ident="constitution.frags">
									<desc xml:lang="fr">extrait</desc>
									<desc xml:lang="en">excerpt</desc>
								</valItem>
								<valItem ident="constitution.unknown">
									<desc xml:lang="fr">donnée inconnue</desc>
									<desc xml:lang="en">unknown data</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="derivation" module="corpus">
					<desc xml:lang="fr">original ou adaptation d'une autre ressource(révision,traduction...)</desc>
					<desc xml:lang="en">original/revision/translation</desc>
					<attList>
						<!--  dans TEI-CORPO choisir 1=original, dans la TEI 6 options possibles
	  							1] orignal; 2] revision; 3] translation; ==> les autres non applicables 4] abridgment; 5] plagiarism; 6] traditional -->
						<attDef ident="type" usage="req" mode="change" rend="derivation.original">
							<!-- TODO rend pour valeur par default -->
							<valList>
								<!-- valeurs figées en TEI P5 -->
								<valItem ident="derivation.original">
									<desc xml:lang="fr">ressource d'origine</desc>
									<desc xml:lang="en">original resource</desc>
								</valItem>
								<valItem ident="derivation.revision">
									<desc xml:lang="fr">révision d'une autre ressource</desc>
									<desc xml:lang="en">revision od another resource</desc>
								</valItem>
								<valItem ident="derivation.translation">
									<desc xml:lang="fr">traduction d'une ressource</desc>
									<desc xml:lang="en">translation of another resource</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="domain" module="corpus">
					<desc xml:lang="fr">Domaine privé ou professionnel</desc>
					<desc xml:lang="en">Private or professionnal setting</desc>
					<attList>
						<attDef ident="nature_type" usage="req" mode="change" >
							<valList>
								<valItem ident="nature_type.professional">
									<desc xml:lang="fr">professionnel - au moins un locuteur est en situation professionnelle</desc>
									<desc xml:lang="en">professional - at least one speaker in professional setting</desc>
								</valItem>
								<valItem ident="nature_type.private">
									<desc xml:lang="fr">privé: tous les locuteurs sont en situation	privée</desc>
									<desc xml:lang="en">private : all speakers on private setting</desc>
								</valItem>

								<valItem ident="nature_type.unknown">
									<desc xml:lang="fr">domaine inconnu</desc>
									<desc xml:lang="en">unknown domain</desc>
								</valItem>
							</valList>
						</attDef>
						<attDef ident="nature" usage="req" mode="change">
							<desc xml:lang="fr">Genre interactionnel</desc>
							<desc xml:lang="en">Nature, Type of situation</desc>
							<valList>
								<valItem ident="nature.interview">
									<desc xml:lang="fr">entretien</desc>
									<desc xml:lang="en">interview</desc>
								</valItem>
								<valItem ident="nature.consultation">
									<desc xml:lang="fr">consultation</desc>
									<desc xml:lang="en">appointment</desc>
								</valItem>
								<valItem ident="nature.meeting">
									<desc xml:lang="fr">réunion</desc>
									<desc xml:lang="en">meeting</desc>
								</valItem>
								<valItem ident="nature.lessons">
									<desc xml:lang="fr">cours</desc>
									<desc xml:lang="en">lesson</desc>
								</valItem>
								<valItem ident="nature.speech">
									<desc xml:lang="fr">discours</desc>
									<desc xml:lang="en">speech</desc>
								</valItem>
								<valItem ident="nature.presentation">
									<desc xml:lang="fr">présentation</desc>
									<desc xml:lang="en">presentation</desc>
								</valItem>
								<valItem ident="nature.narration">
									<desc xml:lang="fr">récit</desc>
									<desc xml:lang="en">story</desc>
								</valItem>
								<valItem ident="nature.transaction">
									<desc xml:lang="fr">transaction</desc>
									<desc xml:lang="en">transaction</desc>
								</valItem>
								<valItem ident="nature.tabletalk">
									<desc xml:lang="fr">repas</desc>
									<desc xml:lang="en">tabletalk</desc>
								</valItem>
								<valItem ident="nature.talk">
									<desc xml:lang="fr">conversation</desc>
									<desc xml:lang="en">talk</desc>
								</valItem>
								<valItem ident="nature.activity">
									<desc xml:lang="fr">les locuteurs sont engagés dans une activité
										: jeu vidéo, montage de meuble, visite, tâche, ...</desc>
									<desc xml:lang="en">speakers are engaged in an activity : video
										game, furniture assembly, visit, task ...</desc>
								</valItem>
								<valItem ident="unknown">
									<desc xml:lang="fr">nature inconnue</desc>
									<desc xml:lang="en">unknown type</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<!--  factuality obligatoire-->
				<elementSpec ident="factuality" module="corpus"/>

				<!--  interaction obligatoire, le type est inapplicable, le nb de locuteurs actif (active) et passifs (passive) sera intéressant pour un niveau 1 ou 2 ?   -->
				<elementSpec ident="interaction" module="corpus">
					<desc xml:lang="fr">Nombre de locuteurs : au total, actifs et passifs</desc>
					<desc xml:lang="en">Number of speakers : total, active and passive speakers</desc>
					<attList>
						<attDef ident="type" usage="req" mode="change" rend="inapplicable"/>
						<attDef ident="active" usage="req" mode="change" rend="n"/>
						<attDef ident="passive" usage="req" mode="change" rend="n"/>
					</attList>
				</elementSpec>

				<!--  niveau de préparation si entretien=consignes -->
				<elementSpec ident="preparedness" module="corpus">
					<desc xml:lang="fr">Consignes, instructions</desc>
					<desc xml:lang="en">Constraints given to speaker</desc>
					<attList>
						<attDef ident="ana" usage="req" mode="change">
							<valList>
								<valItem ident="instruction.prepared">
									<desc xml:lang="fr">conférence/cours/discours/presentation</desc>
									<desc xml:lang="en">conference/lesson/discourse/presentation</desc>
								</valItem>
								<valItem ident="instruction.read">
									<desc xml:lang="fr">lecture, lecture de mots</desc>
									<desc xml:lang="en">reading, reading words</desc>
								</valItem>
								<valItem ident="instruction.instruction">
									<desc xml:lang="fr">thème initial/ordre du jour/consigne donnée
										aux locuteurs sur le contenu ou les modalités de
										l'échange</desc>
									<desc xml:lang="en">initial thème/insctructions to speakers on content or modality</desc>
								</valItem>
								<valItem ident="instruction.spontaneous">
									<desc xml:lang="fr">spontané</desc>
									<desc xml:lang="en">spontaneous</desc>
								</valItem>
				                <valItem ident="instruction.noinstruction">
									<desc xml:lang="fr">sans consignes</desc>
									<desc xml:lang="en">no instruction</desc>
								</valItem>
								<valItem ident="unknown">
									<desc xml:lang="fr">consignes inconnues</desc>
									<desc xml:lang="en">unknown level of instruction</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<!--  sujet, théme -->
				<elementSpec ident="purpose" module="corpus">
					<desc xml:lang="fr">Contexte</desc>
					<desc xml:lang="en">Context</desc>
					<attList>
						<attDef ident="ana" usage="req" mode="change">
							<valList>
								<valItem ident="context.educational">
									<desc xml:lang="fr">scolaire</desc>
									<desc xml:lang="en">education</desc>
								</valItem>
								<valItem ident="context.academic">
									<desc xml:lang="fr">académique</desc>
									<desc xml:lang="en">academic</desc>
								</valItem>
								<valItem ident="context.commercial">
									<desc xml:lang="fr">commercial</desc>
									<desc xml:lang="en">commercial</desc>
								</valItem>
								<valItem ident="context.medical">
									<desc xml:lang="fr">médical</desc>
									<desc xml:lang="en">medical</desc>
								</valItem>
								<valItem ident="context.political">
									<desc xml:lang="fr">politique</desc>
									<desc xml:lang="en">political</desc>
								</valItem>
								<valItem ident="context.associative">
									<desc xml:lang="fr">associatif</desc>
									<desc xml:lang="en">associative</desc>
								</valItem>
								<valItem ident="context.religious">
									<desc xml:lang="fr">religieux</desc>
									<desc xml:lang="en">religious</desc>
								</valItem>
								<valItem ident="context.sports">
									<desc xml:lang="fr">sportif</desc>
									<desc xml:lang="en">sports</desc>
								</valItem>
								<valItem ident="context.family">
									<desc xml:lang="fr">familial</desc>
									<desc xml:lang="en">family</desc>
								</valItem>
								<valItem ident="context.friendly">
									<desc xml:lang="fr">amical</desc>
									<desc xml:lang="en">friendly</desc>
								</valItem>
								<valItem ident="unknown">
									<desc xml:lang="fr">inconnu</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<!-- particDesc : speakers ==> Christophe le fait pour vérif -->
				<elementSpec ident="particDesc" module="corpus" mode="change" n="1">
					<desc xml:lang="fr">Locuteurs</desc>
					<desc xml:lang="en">Speakers </desc>
					<content>
						<elementRef key="listPerson" minOccurs="1" maxOccurs="1"/>
					</content>
				</elementSpec>

				<elementSpec ident="listPerson" module="namesdates">
					<content>
						<elementRef key="person" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="person" module="namesdates">
					<desc xml:lang="fr">Locuteur</desc>
					<desc xml:lang="en">Speaker</desc>
					<content>
						<sequence minOccurs="0" maxOccurs="unbounded">
							<elementRef key="persName"/>
							<elementRef key="age"/>
							<elementRef key="altGrp"/>
							<elementRef key="occupation"/>
							<elementRef key="socecStatus"/>
							<elementRef key="education"/>
						</sequence>
						<elementRef key="langKnowledge" minOccurs="0" maxOccurs="unbounded"/>
						<elementRef key="note" minOccurs="0" maxOccurs="unbounded"/>
					</content>
					<attList>
						<attDef ident="xml:id" usage="rec" rendition="id unique" mode="change">
							<desc xml:lang="fr">Identidiant unique du locuteur</desc>
							<desc xml:lang="en">Unique ID of locuteur</desc>
							<datatype>
								<dataRef name="string"/>
							</datatype>
						</attDef>
						<attDef ident="sex" usage="req" mode="change">
							<desc xml:lang="fr">Sexe</desc>
							<desc xml:lang="en">Sex</desc>
							<valList >
								<valItem ident="1">
									<desc>masculin</desc>
								</valItem>
								<valItem ident="2">
									<desc>feminin</desc>
								</valItem>
								<valItem ident="9">
									<desc>inconnu (voix au téléphone, foule, locuteur générique
										élève/public/...)</desc>
								</valItem>
							</valList>
						</attDef>
						<attDef ident="source" usage="rec" rendition="source" mode="change">
							<desc xml:lang="fr">URL Locuteur</desc>
							<desc xml:lang="en">Speaker URL</desc>
							<datatype>
								<dataRef name="anyURI"/>
							</datatype>
						</attDef>
						<attDef ident="role" usage="rec" rendition="role" mode="change">
							<desc xml:lang="fr">Rôle</desc>
							<desc xml:lang="fr">Role</desc>
							<datatype>
								<dataRef name="openlist"/>
							</datatype>
							<valList>
								<valItem ident="role.target_child">
									<desc xml:lang="fr">enfant sujet de l'étude</desc>
									<desc xml:lang="en">child study target</desc>
								</valItem>
								<valItem ident="role.target_adult">
									<desc xml:lang="fr">adulte sujet de l'étude</desc>
									<desc xml:lang="en">adult study target</desc>
								</valItem>
								<valItem ident="role.child">
									<desc xml:lang="fr">enfant</desc>
									<desc xml:lang="en">child</desc>
								</valItem>
								<valItem ident="role.adult">
									<desc xml:lang="fr">adulte</desc>
									<desc xml:lang="en">adult</desc>
								</valItem>
								<valItem ident="role.observer">
									<desc xml:lang="fr">observateur</desc>
									<desc xml:lang="en">observer</desc>
								</valItem>
								<valItem ident="role.mother">
									<desc xml:lang="fr">mère</desc>
									<desc xml:lang="en">mother</desc>
								</valItem>
								<valItem ident="role.father">
									<desc xml:lang="fr">père</desc>
									<desc xml:lang="en">father</desc>
								</valItem>
								<valItem ident="role.unidentified">
									<desc xml:lang="fr">inconnu</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="persName" module="namesdates">
					<desc xml:lang="fr">Nom du locuteur</desc>
					<desc xml:lang="en">Speaker's name</desc>
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<elementSpec ident="socecStatus" module="namesdates">
					<desc xml:lang="fr">Indice socio-économique</desc>
					<desc xml:lang="en">Social-economic Status</desc>
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<elementSpec ident="education" module="namesdates">
					<desc xml:lang="fr">Niveau de scolarité</desc>
					<desc xml:lang="en">Education level</desc>
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<elementSpec ident="altGrp" module="core">
					<content>
						<elementRef key="alt" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="alt" module="core">
					<desc xml:lang="fr">Pseudonyme (dans la transcritpion)</desc>
					<desc xml:lang="en">Pseudonym (in transcript)</desc>
					<attList>
						<attDef ident="type">
							<desc>Type</desc>
							<datatype>
								<dataRef name="string"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="note" module="core">
					<desc xml:lang="fr">Information supplémentaire</desc>
					<desc xml:lang="en">Additional Information</desc>
					<content>
						<textNode/>
					</content>
					<attList>
						<attDef ident="type">
							<desc xml:lang="fr">Type</desc>
							<desc xml:lang="en">Type</desc>
							<datatype>
								<dataRef name="string"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="age" module="namesdates" rend="age.adult">
					<desc xml:lang="fr">Tranche d'âge</desc>
					<desc xml:lang="en">Age Interval</desc>
					<content>
						<valList>
							<valItem ident="age.adult">
								<desc xml:lang="fr">de 21 à 60 ans</desc>
								<desc xml:lang="en">from 21 to 60</desc>
							</valItem>
							<valItem ident="age.infant">
								<desc xml:lang="fr">moins de 1 an</desc>
								<desc xml:lang="en">less than 1</desc>
							</valItem>
							<valItem ident="age.youngchild">
								<desc xml:lang="fr">de 1 à 2 ans</desc>
								<desc xml:lang="en">from 1 to 2</desc>
							</valItem>
							<valItem ident="age.middlechild">
								<desc xml:lang="fr">de 3 à 5 ans</desc>
								<desc xml:lang="en">from 3 to 5</desc>
							</valItem>
							<valItem ident="age.oldchild">
								<desc xml:lang="fr">de 6 à 15 ans</desc>
								<desc xml:lang="en">from 6 to 15</desc>
							</valItem>
							<valItem ident="age.youth">
								<desc xml:lang="fr">de 16 à 20 ans</desc>
								<desc xml:lang="en">from 16 to 20</desc>
							</valItem>
							<valItem ident="age.senior">
								<desc xml:lang="fr">plus de 61 ans</desc>
								<desc xml:lang="en">up to 61</desc>
							</valItem>
							<valItem ident="age.unknown">
								<desc xml:lang="fr">âge inconnu</desc>
								<desc xml:lang="en">unknown age</desc>
							</valItem>
						</valList>
					</content>
					<attList>
						<attDef ident="value" usage="req" mode="change">
							<datatype>
								<dataRef name="number"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="occupation" module="namesdates" rend="occupation.professional_activity">
					<desc xml:lang="fr">Situation</desc>
					<desc xml:lang="en">Occupation</desc>
					<attList>
						<attDef ident="ana" usage="req" mode="change">
							<valList>
								
								<valItem ident="occupation.before_school">
									<desc xml:lang="fr">avant la scolarisation</desc>
									<desc xml:lang="en">before school</desc>
								</valItem>
								<valItem ident="occupation.at_school">
									<desc xml:lang="fr">en scolarité</desc>
									<desc xml:lang="en">scholar</desc>
								</valItem>
								<valItem ident="occupation.professional_activity">
									<desc xml:lang="fr">en activite</desc>
									<desc xml:lang="en">in professional situation</desc>
								</valItem>
								<valItem ident="occupation.retirement">
									<desc xml:lang="fr">retraite</desc>
									<desc xml:lang="en">retirement</desc>
								</valItem>
								<valItem ident="occupation.without_job">
									<desc xml:lang="fr">sans emploi (chômage, H/F au foyer) </desc>
									<desc xml:lang="en">without job (unemployed, at home) </desc>
								</valItem>
								<valItem ident="occupation.unknown">
									<desc xml:lang="fr">inconnue</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="langKnowledge" module="namesdates">
					<content>
						<elementRef key="langKnown" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="langKnown" module="namesdates">
					<desc xml:lang="fr">Langue des locuteurs</desc>
					<desc xml:lang="en">Speaker's language</desc>
					<attList>
						<!-- slangue par défaut français, pour le moment inutile car liste des codes iso non reportée-->
						<attDef ident="tag" usage="req"
							rendition="code iso des langues, cf langUsage pour l'enregistrement"
							mode="change" rend="français">
							<desc xml:lang="fr">Code Iso</desc>
							<desc xml:lang="en">Iso code</desc>
							<datatype>
								<dataRef name="string"/>
							</datatype>
						</attDef>
						<attDef ident="level" usage="req" mode="change" rend="language.first">
							<valList>
								<valItem ident="language.first">
									<desc xml:lang="fr">maternelle</desc>
									<desc xml:lang="en">first language</desc>
								</valItem>
								<valItem ident="language.second">
									<desc xml:lang="fr">seconde</desc>
									<desc xml:lang="en">second</desc>
								</valItem>
								<valItem ident="language.unknown">
									<desc xml:lang="fr">inconnue</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<!-- settingDesc : recording et medias-->
				<elementSpec ident="settingDesc" module="corpus" mode="change" n="1">
					<desc xml:lang="fr">Session enregistrée : lieu, langue,date</desc>
					<desc xml:lang="en">Seeting: place, language,date</desc>

					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="listPlace"/>
							<elementRef key="setting"/>
							<!-- langUsage : langue de l'enregistrement, plusieurs possibles avec % d'utilisation-->
							<elementRef key="langUsage"/>
						</sequence>
					</content>
				</elementSpec>

				<elementSpec ident="listPlace" module="namesdates">
					<content>
						<elementRef key="place" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="place" module="namesdates">
					<desc xml:lang="fr">Lieu</desc>
					<desc xml:lang="en">Place</desc>
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="placeName"/>
							<elementRef key="country"/>
						</sequence>
						<elementRef key="settlement" minOccurs="0" maxOccurs="unbounded"/>
						<elementRef key="district" minOccurs="0" maxOccurs="unbounded"/>
						<!-- TODO : plusieurs desc ??? desc:  piece, exemple changement de lieu avec micro cravate -->
						<elementRef key="desc" minOccurs="0" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="placeName" module="namesdates">
					<desc xml:lang="fr">Lieu</desc>
					<desc xml:lang="en">Place</desc>
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<elementSpec ident="country" module="namesdates">
					<desc xml:lang="fr">Pays</desc>
					<desc xml:lang="en">Country</desc>
					<attList>
						<!-- attribut ref= norme iso ISO 3366-1 => Indiquer le pays de recueil , donnée minimale en général connue, fr par défaut -->
						<attDef ident="name" usage="req" mode="change" rend="fr"/>
					</attList>
				</elementSpec>

				<elementSpec ident="district" module="namesdates">
					<desc xml:lang="fr">Région</desc>
					<desc xml:lang="en">District</desc>
					<attList>
						<attDef ident="name" usage="rec" mode="change"/>
					</attList>
				</elementSpec>

				<elementSpec ident="settlement" module="namesdates">
					<desc xml:lang="fr">Ville</desc>
					<desc xml:lang="en">Town</desc>
					<attList>
						<!-- ref= norme TGN ? Indiquer la ville, village de recueil : référentiel Getty Thesaurus of Geographic Name / code UNECE des Nations Unies plus fin que le code postal-->
						<attDef ident="ref" usage="req" mode="change"/>
					</attList>
				</elementSpec>

				<elementSpec ident="setting" module="corpus">
					<desc xml:lang="fr">Session enregistrée : description, date, environnement, langue</desc>
					<desc xml:lang="en">Setting : description, date, setting, language</desc>
					<content>
						<elementRef key="date" minOccurs="0" maxOccurs="unbounded"/>
						<!-- description de la situation ==> attention aux redondances ==> description déjà dans title -->
						<elementRef key="activity" minOccurs="0" maxOccurs="unbounded"/>
						<textNode/>
					</content>
				</elementSpec>

				<elementSpec ident="activity" module="namesdates">
					<desc xml:lang="fr">Description de la session enregistrée</desc>
					<desc xml:lang="en">Setting description</desc>
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<elementSpec ident="p" module="core">
					<desc xml:lang="fr">Description courte</desc>
					<desc xml:lang="en">Short description</desc>
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<elementSpec ident="date" module="core">
					<desc xml:lang="fr">Intervalle (depuis/jusqu'à) ou date exacte
					</desc>
					<!-- ds le modèle normalement contrainte soit when soit before/after
					-->
					<content>
						<textNode/>
					</content>
					<attList>
						<attDef ident="notBefore-iso" usage="opt" mode="change">
							<desc xml:lang="fr">Depuis</desc>
							<desc xml:lang="en">Not before</desc>
							<datatype>
								<dataRef name="date"/>
							</datatype>
						</attDef>
						<attDef ident="notAfter-iso" usage="opt" mode="change">
							<desc xml:lang="fr">Jusqu'à</desc>
							<desc xml:lang="en">Not after</desc>
							<datatype>
								<dataRef name="date"/>
							</datatype>
						</attDef>
						<attDef ident="when-iso" usage="opt" mode="change">
							<desc xml:lang="fr">Date exacte</desc>
							<desc xml:lang="en">Exact date</desc>
							<datatype>
								<dataRef name="date"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>

				<!-- langUsage : langue de l'enregistrement, plusieurs possibles avec % d'utilisation-->
				<elementSpec ident="langUsage" module="header" mode="change" n="1">
					<desc xml:lang="fr">Langue(s) parlée dans la session (si plusieurs pourcentage d'utilisation)</desc>
					<desc xml:lang="en">Recording language(s), a percentage if several languages</desc>
					<content>
						<elementRef key="language" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="language" module="header">
					<desc xml:lang="fr">Langue(s) de la situation, si plusieurs pourcentage d'utilisation</desc>
					<desc xml:lang="en">Situation language(s), a percentage if several languages</desc>
					<attList>
						<!-- code iso RFC 3066"-->
						<attDef ident="usage" usage="req" mode="change" rend="100"/>
						<attDef ident="ident" usage="req" mode="change" rend="fr"/>
					</attList>
				</elementSpec>

				<elementSpec ident="appInfo" module="header" mode="change" n="1">
					<desc xml:lang="fr"> Convertisseur TEI : TEI_CORPO ou un autre convertisseur</desc>
					<desc xml:lang="en">TEI conversion : TEI_CORPO or another tool</desc>
					<content>
						<sequence minOccurs="0" maxOccurs="unbounded">
							<elementRef key="application"/>
							<!-- desc:  complément sur les options/choix/logiciels "maison"-->
							<elementRef key="desc"/>
						</sequence>
					</content>
				</elementSpec>

				<elementSpec ident="application" module="header">
					<desc xml:lang="fr">Convertisseur TEI</desc>
					<desc xml:lang="en">Conversion tool TEI</desc>
					<attList>
						<attDef ident="ident" usage="rec" mode="change"/>
						<!-- seulement recommandé pas obligatoire sinon on aura n'importe quoi -->
						<attDef ident="ana" usage="req" mode="change">
							<valList>
								<valItem ident="conversion_tool.teiCorpo" >
									<desc xml:lang="fr">convertisseur teicorpo d'Ortolang</desc>
									<desc xml:lang="en">teicorpo converter</desc>
								</valItem>
								<valItem ident="conversion_tool.other" >
									<desc xml:lang="fr">autre convertisseur</desc>
									<desc xml:lang="en">another converter</desc>
								</valItem>
								<valItem ident="conversion_tool.unknown" >
									<desc xml:lang="fr">convertisseur inconnu</desc>
									<desc xml:lang="en">unknown converter</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="projectDesc" module="header" mode="change" n="1">
					<desc xml:lang="fr">Description étendue du projet</desc>
					<desc xml:lang="en">Free additional text on project</desc>
					<content>
						<elementRef key="p" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="transcriptionDesc" module="header" mode="change" n="1">
					<desc xml:lang="fr">Annotations : type d'annotation, logiciel d'annotation, convention, anonymisation</desc>
					<desc xml:lang="en">Annotations : type of annotation, annotation software, convention, anonymization</desc>
					<content>
						<elementRef key="desc" corresp="transcription" minOccurs="1"
							maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="desc" corresp="transcription" module="core">
					<desc xml:lang="fr">Annotations : type d'annotation, logiciel d'annotation, convention, anonymisation</desc>
					<desc xml:lang="en">Type of annotation, transciption software, transcription convention, transcription anonymisation </desc>
					<attList>
						<attDef ident="type" usage="req" mode="change">
							<valList>
								<valItem ident="transcription.annotation" >
									<desc xml:lang="fr">nature(s) des annotations</desc>
									<desc xml:lang="en">type(s) of annotations</desc>
								</valItem>
								<valItem ident="transcription.transcript_convention">
									<desc xml:lang="fr">convention de transcription</desc>
									<desc xml:lang="en">convention of transcription</desc>
								</valItem>
								<valItem ident="transcription.annotation_software" >
									<desc xml:lang="fr">logiciel de transcription</desc>
									<desc xml:lang="en">transcription softaware</desc>
								</valItem>
								<valItem ident="transcription.anonymization_transcription" >
									<desc xml:lang="fr">anonymisation de la transcription</desc>
									<desc xml:lang="en">transcription anonymization</desc>
								</valItem>
							</valList>
						</attDef>
						<attDef ident="ana" usage="req" mode="change">
							<datatype>
								<dataRef name="openlist"/>
							</datatype>
							<valList>
								<valItem ident="annotation.orthographic">
									<desc xml:lang="fr">orthographique</desc>
									<desc xml:lang="en">orthography</desc>
								</valItem>
								<valItem ident="annotation.prosodical">
									<desc xml:lang="fr">prosodique</desc>
									<desc xml:lang="en">prosodical</desc>
								</valItem>
								<valItem ident="annotation.syntactic">
									<desc xml:lang="fr">syntaxique</desc>
									<desc xml:lang="en">syntactic</desc>
								</valItem>
								<valItem ident="annotation.interactional">
									<desc xml:lang="fr">interaction</desc>
									<desc xml:lang="en">interaction</desc>
								</valItem>
								<valItem ident="annotation.phonological">
									<desc xml:lang="fr">phonologique</desc>
									<desc xml:lang="en">phonological</desc>
								</valItem>
								<valItem ident="annotation.translation">
									<desc xml:lang="fr">traduction</desc>
									<desc xml:lang="en">translation</desc>
								</valItem>
								<valItem ident="annotation.gesture">
									<desc xml:lang="fr">geste</desc>
									<desc xml:lang="en">gesture</desc>
								</valItem>
								<valItem ident="annotation.gaze">
									<desc xml:lang="fr">regard</desc>
									<desc xml:lang="en">gaze</desc>
								</valItem>
								<valItem ident="annotation.unknown">
									<desc xml:lang="fr">inconnu</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>
								<valItem ident="annotation_software.transcriber" >
									<desc xml:lang="fr">transcriber</desc>
									<desc xml:lang="en">transcriber</desc>
								</valItem>
								<valItem ident="annotation_software.praat" >
									<desc xml:lang="fr">praat</desc>
									<desc xml:lang="en">praat</desc>
								</valItem>
								<valItem ident="annotation_software.elan">
									<desc xml:lang="fr">elan</desc>
									<desc xml:lang="en">elan</desc>
								</valItem>
								<valItem ident="annotation_software.exmaralda" >
									<desc xml:lang="fr">exmaralda</desc>
									<desc xml:lang="en">exmaralda</desc>
								</valItem>
								<valItem ident="annotation_software.anvil" >
									<desc xml:lang="fr">anvil</desc>
									<desc xml:lang="en">anvil</desc>
								</valItem>
								<valItem ident="annotation_software.ilex" >
									<desc xml:lang="fr">ilex</desc>
									<desc xml:lang="en">ilex</desc>
								</valItem>
								<valItem ident="annotation_software.phon" >
									<desc xml:lang="fr">phon</desc>
									<desc xml:lang="en">phon</desc>
								</valItem>
								<valItem ident="annotation_software.transana" >
									<desc xml:lang="fr">transana</desc>
									<desc xml:lang="en">transana</desc>
								</valItem>
								<valItem ident="annotation_software.unknown" >
									<desc xml:lang="fr">inconnu</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>

								<valItem ident="anonymization_transcription.anonymization" >
									<desc xml:lang="fr">transcription anonymisée</desc>
									<desc xml:lang="en">anonymized transcription</desc>
								</valItem>
								<valItem ident="anonymization_transcription.no_anonymization" >
									<desc xml:lang="fr">transcription non anonymisée</desc>
									<desc xml:lang="en">no anonymized transcription</desc>
								</valItem>
								<valItem ident="anonymization_transcription.unknown">
									<desc xml:lang="fr">anonymisation inconnue</desc>
									<desc xml:lang="en">unknown level of anonymyzation</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>
			</schemaSpec>
		</body>
	</text>
</TEI>
