models/ODD_Meta_niveau0_V11.odd

<?xml version="1.0" encoding="UTF-8"?>
    <?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
    <?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>

<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
	xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0"
	xmlns:rng="http://relaxng.org/ns/structure/1.0">

	<teiHeader>
		<fileDesc>
			<titleStmt>
				<title>
					<idno type="title">Personnalisation ODD Corpus Oraux et Multimodaux</idno>
					<bibl> CORLI et IRCOM </bibl>
					<desc> L'objectif de cette personnalisation est de proposer un sous-ensemble
						d'éléments TEI pour décrire le niveau minimal des métadonnées de Corpus
						(niveau 0) </desc>
				</title>
				<principal>
					<name type="org"> CORLI - IRCOM </name>
					<name type="org"> Carole Etienne, Loic Liégeois ... </name>
				</principal>
			</titleStmt>
			<publicationStmt>
				<publisher>CORLI wiki</publisher>
			</publicationStmt>
			<sourceDesc>
				<p>written from IRCOM recommandations</p>
			</sourceDesc>
		</fileDesc>
	</teiHeader>

	<text>
		<body>

			<!-- explications de l'usage et exemples
				on ne s'intéresse qu'aux elementSpec
					les moduleRef ne sont pas utilisés pour l'instant: ils sont là pour les autres usages des ODD

				elementSpec ident="nom du tag dans la TEI" corresp="tag optionel à utiliser si ident n'est pas unique"
					desc: multilingue possible voir champ xml:lang
					content: contenu du noeud y compris partie texte
					attList: listes des attributs

				dans content
					sequence minOccurs maxOccurs (s'il y a plus d'un élément)
						elementRef key="nom du tag dans la TEI" corresp="tag optionel à utiliser si ident n'est pas unique"
						elementRef key=...
					elementRef minOccurs maxOccurs (min et max sont optionels: omis ils valent 1)
					textNode
					dataRef : pour indiquer le format du noeud (à la place de textNode)
						integer decimal NCName string duration anyURI data - si rien pas de contrôle de format exemple titre
					valList : si le node ne peut prendre que certaines valeurs prédéfinies

				dans attList
					attDef ident="attribut-dans-TEI" rend="valeur par défaut de l'attribut dans les valeurs de la liste" usage="rec ou req"
						desc (multilingue)
						desc = nom de la rubrique pour les sections, les élements à saisir, pour les valList =bulle d'aide
						datatype
							dataRef : format de l'attribut
						... ou sinon une liste de valeurs: si une seule pas de choix valeur obigatoire
						valList ==> choix multiples type ascenseur
							valItem ident="valeur-dans-TEI"
								desc (multilingue) + rendition (champ aide optionel ? - emplacement à affiner)
			-->

			<egXML xmlns="http://www.tei-c.org/ns/Examples">
				<!-- Un exemple avec tout dedans -->
				<elementSpec ident="tag_TEI" module="header"
					corresp="nom_pour_identification_unique">
					<desc xml:lang="fr">... en français ... - partie affichée pour décrire
						l'élément</desc>
					<desc xml:lang="en">... en anglais ...</desc>
					<content>
						<sequence minOccurs="0" maxOccurs="unbounded">
							<elementRef key="sous_tag_1"
								corresp="autre_nom_pour_identification_unique"/>
							<elementRef key="sous_tag_2"/>
						</sequence>
						<elementRef key="idno" corresp="handle" minOccurs="1" maxOccurs="unbounded"/>
						<textNode/>
						<dataRef name="NCName"/>
					</content>
					<attList>
						<attDef ident="mimeType" usage="req" mode="change">
							<valList type="closed">
								<valItem ident="audio/wav"/>
								<valItem ident="audio/mp3"/>
								<valItem ident="other"/>
							</valList>
						</attDef>
						<attDef ident="dur-iso" usage="req" mode="change">
							<desc xml:lang="fr">durée du média : chaque medias peut avoir une durée
								différente</desc>
							<desc xml:lang="en">media duration : each media could have a different
								duration </desc>
							<datatype>
								<dataRef name="duration"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>
			</egXML>

			<!-- definition de TEI_CORPO_METADATA-->
			<schemaSpec ident="TEI_CORPO_METADATA" start="TEI">
				<!-- ajouter teiCorpus par la suite si collections -->

				<!-- required modules -->
				<moduleRef key="tei"/>
				<!-- à compléter par : reg choice orig pour l'orthographe adapté -->
				<moduleRef key="core"
					include="title bibl desc name respStmt resp publisher pubPlace ref p media date "/>
				<moduleRef key="header"
					include="teiHeader fileDesc titleStmt idno principal publicationStmt availability licence sourceDesc profileDesc langUsage language
					 encodingDesc appInfo application projectDesc classDecl taxonomy catDesc category"/>
				<!-- à compléter par : body div text-->
				<moduleRef key="textstructure" include="TEI text body div "/>
				<!-- optional modules -->
				<!-- à compléter par : u annotationBlock incident kinesic pause shift vocal-->
				<moduleRef key="spoken"
					include="recordingStmt recording transcriptionDesc annotationBlock u vocal kinesic incident pause"/>
				<moduleRef key="namesdates"
					include="persName surname listPerson person age occupation langKnowledge langKnown listPlace place country settlement district "/>
				<moduleRef key="corpus"
					include="activity textDesc channel constitution derivation domain factuality interaction preparedness purpose particDesc settingDesc setting"/>
				<!-- à compléter par Christophe P -->
				<moduleRef key="linking" include="anchor seg timeline when"/>
				<moduleRef key="analysis" include=" w span spanGrp"/>
				<!-- ajouter interp interpGrp-->
				<moduleRef key="transcr"/>
				<!-- utilisé ???-->

				<!-- structure generale TEI -->
				<elementSpec ident="TEI" module="textstructure" mode="change">
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="teiHeader"/>
							<elementRef key="text"/>
						</sequence>
					</content>
				</elementSpec>

				<!-- structure generale teiHeader -->
				<elementSpec ident="teiHeader" module="header" mode="change">
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="fileDesc"/>
							<elementRef key="profileDesc"/>
							<elementRef key="encodingDesc"/>
						</sequence>
					</content>
				</elementSpec>

				<elementSpec ident="text">
					<!--
             unused element dont need to be defined
             they will be ignored
          -->
					<content/>
				</elementSpec>

				<elementSpec ident="fileDesc" module="header">
					<desc xml:lang="fr">Titre, diffusion et données primaires</desc>
					<desc xml:lang="en">Title, diffusion and primary data</desc>
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="titleStmt"/>
							<elementRef key="publicationStmt"/>
							<elementRef key="sourceDesc"/>
						</sequence>
					</content>
				</elementSpec>

				<elementSpec ident="profileDesc" module="header">
					<desc xml:lang="fr">Catégorie, participants, contexte, langue</desc>
					<desc xml:lang="en">Category, participants, setting, language</desc>
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="textDesc"/>
							<elementRef key="particDesc"/>
							<elementRef key="settingDesc"/>
							<elementRef key="langUsage"/>
						</sequence>
					</content>
				</elementSpec>

				<elementSpec ident="encodingDesc" module="header">
					<desc xml:lang="fr">Logiciel, projet, annotations</desc>
					<desc xml:lang="en">Software, project, annotations</desc>
					<content>
						<sequence minOccurs="0" maxOccurs="1">
							<elementRef key="appInfo"/>
							<elementRef key="projectDesc"/>
							<elementRef key="transcriptionDesc"/>
						</sequence>
					</content>
				</elementSpec>


				<!-- titleStmt : un principal, de 0 à n respStmt (collecteur, transcripteur, collecteur, ...) -->
				<elementSpec ident="titleStmt" module="header" mode="change">
					<desc xml:lang="fr">Titre, Responsable(s) de la ressource et contributeurs :
						collecteurs, transcripteurs, annotateurs, traducteurs, ... personnes et/ou
						organismes et/ou projets de recherche</desc>
					<desc xml:lang="en">Title, Responsible(s) of the ressource and contributors :
						collectors, transcriptors, annotators, translators, ... personns and/or
						organisms or search projects</desc>
					<content>
						<elementRef key="title" minOccurs="1" maxOccurs="1"/>
						<elementRef key="principal" minOccurs="1" maxOccurs="unbounded"/>
						<elementRef key="respStmt" minOccurs="0" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="title" module="core" mode="change">
					<desc xml:lang="fr"> informations generales: idno = titre, bibl : la reference
						pour citer la ressource, desc : une courte description</desc>
					<desc xml:lang="en"> general information: idno = title, bibl : reference to cite
						this ressource, desc : a short description</desc>
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="desc"/>
							<elementRef key="idno" corresp="title"/>
							<elementRef key="bibl"/>
						</sequence>
					</content>
				</elementSpec>

				<elementSpec ident="desc" module="core">
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<elementSpec ident="idno" corresp="title" module="header">
					<content>
						<textNode/>
					</content>
					<attList>
						<attDef ident="type" usage="req" mode="change">
							<valList>
								<valItem ident="title"/>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="bibl" module="core">
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<elementSpec ident="principal" module="header">
					<desc xml:lang="fr">Responsable(s) de la ressource : personne et/ou organismes
						et/ou projets de recherche</desc>
					<desc xml:lang="en">Responsible(s) of the ressource: personn and/or organism or
						search project</desc>
					<content>
						<elementRef key="name" minOccurs="1" maxOccurs="1"/>
						<!-- default : alphanum -->
						<dataRef name="NCName"/>
					</content>
				</elementSpec>

				<elementSpec ident="name" module="core">
					<content>
						<!-- default="alphanum" -->
						<dataRef name="NCName"/>
					</content>
					<attList>
						<attDef ident="type" usage="req" mode="change">
							<valList type="closed" mode="replace">
								<valItem ident="person">
									<desc rendition="texte aide personne" xml:lang="fr"
										>Personne</desc>
									<desc rendition="help text on person" xml:lang="en"
										>Person</desc>
								</valItem>
								<valItem ident="organism">
									<desc rendition="texte aide laboratoire" xml:lang="fr"
										>Laboratoire ou Institution</desc>
									<desc rendition="help text on search lab" xml:lang="en">Research
										Laboratory or Institution</desc>
								</valItem>
								<valItem ident="project">
									<desc rendition="texte aide projet" xml:lang="fr">Projet</desc>
									<desc rendition="help texte on project" xml:lang="en"
										>Project</desc>
								</valItem>
								<valItem ident="other">
									<desc xml:lang="fr">Autre</desc>
									<desc xml:lang="en">Other</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<!-- respStmt dans titleStmt -->
				<elementSpec ident="respStmt" module="core">
					<desc xml:lang="fr">Liste des contributeurs composé d'une fonction resp et d'une
						liste de noms qui remplissent cette fonction </desc>
					<desc xml:lang="en">List of contributors made of both a role and a list of
						persons or oeganism who assume this role </desc>
					<content>
						<sequence minOccurs="1" maxOccurs="unbounded">
							<elementRef key="resp"/>
							<elementRef key="name"/>
						</sequence>
					</content>
				</elementSpec>

				<elementSpec ident="resp" module="core">
					<content>
						<valList type="closed" mode="replace">
							<valItem ident="annotator">
								<desc rendition="texte aide annotateur" xml:lang="fr"
									>annotateur</desc>
								<desc rendition="help text on annotator" xml:lang="en"
									>annotator</desc>
							</valItem>
							<valItem ident="compiler">
								<desc rendition="texte aide coordinateur" xml:lang="fr"
									>coordinateur</desc>
								<desc rendition="help text on annotator" xml:lang="en"
									>coordinator</desc>
							</valItem>
							<valItem ident="interviewer">
								<desc rendition="texte aide interviewer" xml:lang="fr"
									>interviewer</desc>
								<desc rendition="help text on interviewer" xml:lang="en"
									>interviewer</desc>
							</valItem>
							<valItem ident="recorder">
								<desc rendition="texte aide collecteur" xml:lang="fr"
									>collecteur</desc>
								<desc rendition="help text on recorder" xml:lang="en"
									>recorder</desc>
							</valItem>
							<valItem ident="transcriber">
								<desc rendition="texte aide transcripteur" xml:lang="fr"
									>transcripteur</desc>
								<desc rendition="help text on transcriber" xml:lang="en"
									>transcriber</desc>
							</valItem>
							<valItem ident="translator">
								<desc rendition="texte aide traducteur" xml:lang="fr"
									>traducteur</desc>
								<desc rendition="help text on translator" xml:lang="en"
									>translator</desc>
							</valItem>
							<valItem ident="data_inputter">
								<desc rendition="texte aide normalisation" xml:lang="fr"
									>normalisation</desc>
								<desc rendition="help text on data_inputter" xml:lang="en"
									>data_inputter</desc>
							</valItem>
							<valItem ident="OTHER">
								<desc xml:lang="fr">Autre</desc>
								<desc xml:lang="en">Other</desc>
							</valItem>
						</valList>
					</content>
				</elementSpec>

				<!-- publicationStmt : au moins un , un handle et une licence
	  				par defaut Creative Common CC BY-NC-SA 2.0 FR c'est à dire
	  				"Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions"-->
				<elementSpec ident="publicationStmt" module="header" mode="change">
					<desc xml:lang="fr">Information de diffusion : identifiant unique, site de
						réféence pour la distribution de la ressource, liste des sites web publiant
						la ressource, licence</desc>
					<desc xml:lang="en">Information on diffusion : handle, publisher, pubPlace,
						license</desc>
					<content>
						<elementRef key="publisher" minOccurs="1" maxOccurs="unbounded"/>
						<elementRef key="pubPlace" minOccurs="0" maxOccurs="unbounded"/>
						<!-- carole à vérifier avec Loïc : zero car je ne suis pas sure que chaque ressource aura un handle si elle n'est pas ds ortolang ou cocoon,
	  					more:la même ressource peut avoir plusieurs handles si déposée sur plusieurs plateformes
		  				pas de type car handle alphanum + certains caractères spéciaux ? -->
						<elementRef key="idno" corresp="handle" minOccurs="0" maxOccurs="unbounded"/>
						<elementRef key="availability" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="availability" module="header">
					<content>
						<elementRef key="licence" minOccurs="1" maxOccurs="unbounded"/>
					</content>
					<attList>
						<!-- value=restricted car une creative common telle qu'elle soit-->
						<attDef ident="status" usage="req" mode="change">
							<valList>
								<valItem ident="restricted"/>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="licence" module="header">
					<content>
						<textNode/>
					</content>
					<attList>
						<attDef ident="type" usage="req" mode="change">
							<valList type="closed" mode="replace">
								<valItem ident="BY">
									<desc xml:lang="fr">Attribution</desc>
									<desc xml:lang="en">Attribution</desc>
								</valItem>
								<valItem ident="BY_ND">
									<desc xml:lang="fr">Attribution sans modification</desc>
									<desc xml:lang="en">Attribution and no modification</desc>
								</valItem>
								<valItem ident="BY_NC_ND">
									<desc xml:lang="fr">Attribution sans usage commercial et sans
										modification</desc>
									<desc xml:lang="en">Attribution and no commercial use and no
										modification</desc>
								</valItem>
								<valItem ident="BY_NC">
									<desc xml:lang="fr">Attribution sans usage commercial</desc>
									<desc xml:lang="en">Attribution and no commercial use</desc>
								</valItem>
								<valItem ident="BY_NC_SA">
									<desc xml:lang="fr">Attribution sans usage commercial et partage
										suivant les mêmes modalités </desc>
									<desc xml:lang="en">Attribution and no Commercial use and share
										in the same way</desc>
								</valItem>
								<valItem ident="BY_SA">
									<desc xml:lang="fr">Attribution et partage suivant les mêmes
										modalités </desc>
									<desc xml:lang="en">Attribution and share in the same way</desc>
								</valItem>
								<valItem ident="OTHER">
									<desc xml:lang="fr">Autre</desc>
									<desc xml:lang="en">Other</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="publisher" module="core">
					<desc xml:lang="fr">site de référence pour la distribution de la
						ressource</desc>
					<desc xml:lang="en">main website for ressource distribution</desc>
					<content>
						<textNode/>
						<dataRef name="anyURI"/>
					</content>
				</elementSpec>

				<elementSpec ident="pubPlace" module="core">
					<desc xml:lang="fr">liste des sites web publiant la ressource : archive, bases
						de données, projets de recherche</desc>
					<desc xml:lang="en">publication website of this ressource : archive , database,
						research project </desc>
					<content>
						<elementRef key="ref" minOccurs="1" maxOccurs="unbounded"/>
						<textNode/>
					</content>
				</elementSpec>

				<elementSpec ident="idno" corresp="handle" module="header">
					<content>
						<textNode/>
					</content>
					<attList>
						<attDef ident="type" usage="req" mode="change">
							<valList>
								<valItem ident="handle"/>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="ref">
					<content>
						<textNode/>
					</content>
					<attList>
						<attDef ident="target" usage="req" mode="change">
							<desc xml:lang="fr">l'uri ou l'url</desc>
							<desc xml:lang="en">the ressource uri or website url</desc>
							<datatype>
								<dataRef name="anyURI"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>

				<!-- recordingStmt : recording et medias-->
				<elementSpec ident="sourceDesc" module="header" mode="change">
					<desc xml:lang="fr">Enregistrement, données primaires</desc>
					<desc xml:lang="en">Recording information, primary data </desc>
					<content>
						<elementRef key="recordingStmt" minOccurs="1" maxOccurs="1"/>
					</content>
				</elementSpec>

				<elementSpec ident="recordingStmt" module="spoken">
					<content>
						<elementRef key="recording" minOccurs="1" maxOccurs="unbounded"/>
					</content>

					<!--  Des exemples  -->
					<exemplum versionDate="2016-10-04" xml:lang="fr">
						<egXML xmlns="http://www.tei-c.org/ns/Examples">
							<sourceDesc>
								<recordingStmt>
									<recording>
										<p> une balise media par enregistrement</p>
										<media type="audio" mimeType="audio/wav" dur-iso="P36M"
											url="xxx">
											<p> un signal audio anonymisé</p>
											<desc type="anonymisation" subtype="oui"/>
											<desc type="qualite" subtype="peu_bruite"/>
										</media>
									</recording>
									<recording>
										<media type="video" mimeType="video/mp4" dur-iso="P36M"
											url="xxx">
											<p> un signal video anonymisé</p>
											<desc type="anonymisation" subtype="oui"/>
											<desc type="qualite" subtype="peu_bruite"/>
										</media>
									</recording>
									<recording>
										<media type="audio" mimeType="audio/wav" dur-iso="P36M"
											url="xxx">
											<p> un signal audio non anonymisé</p>
											<desc type="anonymisation" subtype="non"/>
											<desc type="qualite" subtype="peu_bruite"/>
										</media>
									</recording>
								</recordingStmt>
							</sourceDesc>
						</egXML>
					</exemplum>
				</elementSpec>

				<elementSpec ident="recording" module="spoken">
					<content>
						<elementRef key="media" minOccurs="1" maxOccurs="1"/>
					</content>
				</elementSpec>

				<elementSpec ident="media" module="spoken">
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="desc" corresp="quality"/>
							<elementRef key="desc" corresp="anonymization"/>
						</sequence>
					</content>
					<attList>
						<attDef ident="type" usage="req" mode="change">
							<valList type="closed">
								<valItem ident="audio"/>
								<valItem ident="video"/>
								<valItem ident="other"/>
							</valList>
						</attDef>
						<attDef ident="mimeType" usage="req" mode="change">
							<valList type="closed">
								<valItem ident="audio/wav"/>
								<valItem ident="audio/mp3"/>
								<valItem ident="video/mp4"/>
								<valItem ident="video/mov"/>
								<valItem ident="video/wmv"/>
								<valItem ident="video/avi"/>
								<valItem ident="other"/>
							</valList>
						</attDef>
						<attDef ident="dur-iso" usage="req" mode="change">
							<desc xml:lang="fr">durée du média : chaque medias peut avoir une durée
								différente</desc>
							<desc xml:lang="en">media duration : each media could have a different
								duration </desc>
							<datatype>
								<dataRef name="duration"/>
							</datatype>
						</attDef>
						<attDef ident="url" mode="change">
							<datatype>
								<dataRef name="anyURI"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="desc" corresp="quality">
					<attList>
						<attDef ident="type" usage="req" mode="change">
							<valList>
								<valItem ident="quality"/>
							</valList>
						</attDef>
						<attDef ident="subtype" usage="req" mode="change">
							<valList>
								<valItem ident="less_noisy">
									<desc xml:lang="fr">inaudible ou bruité moins de 5%</desc>
									<desc xml:lang="en">inaudible or noisy less than 5%</desc>
								</valItem>
								<valItem ident="noisy">
									<desc xml:lang="fr">inaudible ou bruité plus de 5%</desc>
									<desc xml:lang="en">inaudible or noisy more than 5%</desc>
								</valItem>
								<valItem ident="soundproof_room">
									<desc xml:lang="fr">chambre sourde</desc>
									<desc xml:lang="en">soundproof</desc>
								</valItem>
								<valItem ident="OTHER">
									<desc xml:lang="fr">Autre</desc>
									<desc xml:lang="en">Other</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="desc" corresp="anonymization">
					<attList>
						<attDef ident="type" usage="req" mode="change">
							<valList>
								<valItem ident="anonymization"/>
							</valList>
						</attDef>
						<attDef ident="subtype" usage="req" mode="change">
							<valList>
								<valItem ident="anonymization">
									<desc xml:lang="fr">anonymisée</desc>
									<desc xml:lang="en">anonymized</desc>
								</valItem>
								<valItem ident="no_anonymization">
									<desc xml:lang="fr">non anonymisée</desc>
									<desc xml:lang="en">no anonymization</desc>
								</valItem>
								<valItem ident="partially_anonymized">
									<desc xml:lang="fr">anonymisation partielle</desc>
									<desc xml:lang="en">partially anonymized</desc>
								</valItem>
								<valItem ident="OTHER">
									<desc xml:lang="fr">Autre</desc>
									<desc xml:lang="en">Other</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>


				<!-- textDesc : catégorisation du document oral-->
				<!-- attention il y a aussi un module additionnel setting ==> détail de la situation, artefact, plan,   ...-->
				<elementSpec ident="textDesc" module="corpus" mode="change">
					<desc xml:lang="fr">Quel type de corpus oraus, un autre module Situation/setting
						commplètera cette partie (artefact, plan, ...)</desc>
					<desc xml:lang="en">Which kind of oral corpora,an additonal setting element will
						complete description (artefact, map, ...)</desc>
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="channel"/>
							<elementRef key="constitution"/>
							<elementRef key="derivation"/>
							<elementRef key="domain"/>
							<!--  factuality obligatoire-->
							<elementRef key="factuality"/>
							<!--  interaction obligatoire, le type est inapplicable, le nb de locuteurs actif (active) et passifs (passive) sera intéressant pour un niveau 1 ou 2 ?  -->
							<elementRef key="interaction"/>
							<!--  niveau de préparation si entretien=consignes -->
							<elementRef key="preparedness"/>
							<!--  sujet, théme -->
							<elementRef key="purpose"/>
						</sequence>
					</content>
				</elementSpec>

				<elementSpec ident="channel" module="corpus">
					<attList>
						<attDef ident="mode" usage="req" mode="change">
							<valList>
								<valItem ident="s"/>
							</valList>
							<!-- mode="s"= default value qui signifie spoken -->
						</attDef>
						<attDef ident="subtype" usage="req" mode="change">
							<valList>
								<valItem ident="face_to_face">
									<desc xml:lang="fr">tous les locuteurs sont présents</desc>
									<desc xml:lang="en">all speakers are in the same setting</desc>
								</valItem>
								<valItem ident="radio">
									<desc xml:lang="fr">à la radio</desc>
									<desc xml:lang="en">on radio</desc>
								</valItem>
								<valItem ident="tv">
									<desc xml:lang="fr">à la télévisison</desc>
									<desc xml:lang="en">on tv</desc>
								</valItem>
								<valItem ident="telephone">
									<desc xml:lang="fr">au téléphone</desc>
									<desc xml:lang="en">over the telephone</desc>
								</valItem>
								<valItem ident="visioconference">
									<desc xml:lang="fr">en visioconference</desc>
									<desc xml:lang="en">visioconference</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="constitution" module="corpus">
					<attList>
						<attDef ident="type" usage="req" mode="change">
							<!--  value="single" -->
							<valList>
								<valItem ident="single">
									<desc xml:lang="fr">autonome</desc>
									<desc xml:lang="en">autonomous</desc>
								</valItem>
								<valItem ident="composite">
									<desc xml:lang="fr">partie d'un autre corpus</desc>
									<desc xml:lang="en">subset of a larger corpus</desc>
								</valItem>
								<valItem ident="frags">
									<desc xml:lang="fr">extrait</desc>
									<desc xml:lang="en">excerpt</desc>
								</valItem>
								<valItem ident="unknown">
									<desc xml:lang="fr">inconnu</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="derivation" module="corpus">
					<attList>
						<!--  dans TEI-CORPO choisir 1=original, dans la TEI 6 options possibles
	  							1] orignal; 2] revision; 3] translation; ==> les autres non applicables 4] abridgment; 5] plagiarism; 6] traditional -->
						<attDef ident="type" usage="req" mode="change" rend="derivation.original">
							<!-- TODO rend pour valeur par default -->
							<valList>
								<valItem ident="derivation.original">
									<desc xml:lang="fr">original</desc>
									<desc xml:lang="en">original</desc>
								</valItem>
								<valItem ident="derivation.revision">
									<desc xml:lang="fr">revision</desc>
									<desc xml:lang="en">revision</desc>
								</valItem>
								<valItem ident="derivation.translation">
									<desc xml:lang="fr">translation</desc>
									<desc xml:lang="en">translation</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="domain" module="corpus">
					<attList>
						<attDef ident="nature_type" usage="req" mode="change">
							<valList>
								<valItem ident="nature_type.professional">
									<desc xml:lang="fr">professionnel - au moins un locuteur est en
										situation professionnelle</desc>
									<desc xml:lang="en">professional - at least one speaker in
										professional setting</desc>
								</valItem>
								<valItem ident="nature_type.private">
									<desc xml:lang="fr">privée: tous les locuteurs en situation
										privée</desc>
									<desc xml:lang="en">private : all speakers on private
										setting</desc>
								</valItem>

								<valItem ident="unknown">
									<desc xml:lang="fr">inconnu</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>
							</valList>
						</attDef>
						<attDef ident="nature" usage="req" mode="change">
							<valList>
								<valItem ident="nature.interview">
									<desc xml:lang="fr">entretien</desc>
									<desc xml:lang="en">interview</desc>
								</valItem>
								<valItem ident="nature.consultation">
									<desc xml:lang="fr">consultation</desc>
									<desc xml:lang="en">appointment</desc>
								</valItem>
								<valItem ident="nature.meeting">
									<desc xml:lang="fr">réunion</desc>
									<desc xml:lang="en">meeting</desc>
								</valItem>
								<valItem ident="nature.lessons">
									<desc xml:lang="fr">cours</desc>
									<desc xml:lang="en">lesson</desc>
								</valItem>
								<valItem ident="nature.speech">
									<desc xml:lang="fr">discours</desc>
									<desc xml:lang="en">speech</desc>
								</valItem>
								<valItem ident="nature.presentation">
									<desc xml:lang="fr">présentation</desc>
									<desc xml:lang="en">presentation</desc>
								</valItem>
								<valItem ident="nature.narration">
									<desc xml:lang="fr">récit</desc>
									<desc xml:lang="en">story</desc>
								</valItem>
								<valItem ident="nature.transaction">
									<desc xml:lang="fr">transaction</desc>
									<desc xml:lang="en">transaction</desc>
								</valItem>
								<valItem ident="nature.tabletalk">
									<desc xml:lang="fr">repas</desc>
									<desc xml:lang="en">tabletalk</desc>
								</valItem>
								<valItem ident="nature.talk">
									<desc xml:lang="fr">conversation</desc>
									<desc xml:lang="en">talk</desc>
								</valItem>
								<valItem ident="nature.activity">
									<desc xml:lang="fr">les locuteurs sont engagés dans une activité
										: jeu vidéo, montage de meuble, visite, tâche, ...</desc>
									<desc xml:lang="en">speakers are engaged in an activity : video
										game, furniture assembly, visit, task ...</desc>
								</valItem>
								<valItem ident="unknown">
									<desc xml:lang="fr">inconnu</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<!--  factuality obligatoire-->
				<elementSpec ident="factuality" module="corpus"/>

				<!--  interaction obligatoire, le type est inapplicable, le nb de locuteurs actif (active) et passifs (passive) sera intéressant pour un niveau 1 ou 2 ?  -->
				<elementSpec ident="interaction" module="corpus">
					<attList>
						<attDef ident="type" usage="req" mode="change" rend="inapplicable"/>
						<attDef ident="active" usage="req" mode="change" rend="n"/>
						<attDef ident="passive" usage="req" mode="change" rend="n"/>
					</attList>
				</elementSpec>

				<!--  niveau de préparation si entretien=consignes -->
				<elementSpec ident="preparedness" module="corpus">
					<attList>
						<attDef ident="ana" usage="req" mode="change">
							<valList>
								<valItem ident="instruction.prepared">
									<desc xml:lang="fr">conf/cours/discours/presentation</desc>
									<desc xml:lang="en">conf/lesson/discourse/presentation</desc>
								</valItem>
								<valItem ident="instruction.read">
									<desc xml:lang="fr">lecture, lecture de mots</desc>
									<desc xml:lang="en">reading, reading words</desc>
								</valItem>
								<valItem ident="instruction.instruction">
									<desc xml:lang="fr">thème initial/ordre du jour/consigne donnée
										aux locuteurs sur le contenu ou les modalités de
										l'échange</desc>
									<desc xml:lang="en">...</desc>
								</valItem>
								<valItem ident="instruction.spontaneous">
									<desc xml:lang="fr">no instruction</desc>
									<desc xml:lang="en">...</desc>
								</valItem>
								<valItem ident="unknown">
									<desc xml:lang="fr">inconnu</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<!--  sujet, théme -->
				<elementSpec ident="purpose" module="corpus">
					<attList>
						<attDef ident="ana" usage="req" mode="change">
							<valList>
								<valItem ident="context.educational">
									<desc xml:lang="fr">scolaire</desc>
									<desc xml:lang="en">education</desc>
								</valItem>
								<valItem ident="context.academic">
									<desc xml:lang="fr">académique</desc>
									<desc xml:lang="en">academic</desc>
								</valItem>
								<valItem ident="context.commercial">
									<desc xml:lang="fr">commercial</desc>
									<desc xml:lang="en">commercial</desc>
								</valItem>
								<valItem ident="context.medical">
									<desc xml:lang="fr">médical</desc>
									<desc xml:lang="en">medical</desc>
								</valItem>
								<valItem ident="context.political">
									<desc xml:lang="fr">politique</desc>
									<desc xml:lang="en">political</desc>
								</valItem>
								<valItem ident="context.associative">
									<desc xml:lang="fr">associatif</desc>
									<desc xml:lang="en">associative</desc>
								</valItem>
								<valItem ident="context.religious">
									<desc xml:lang="fr">religieux</desc>
									<desc xml:lang="en">religious</desc>
								</valItem>
								<valItem ident="context.sports">
									<desc xml:lang="fr">sportif</desc>
									<desc xml:lang="en">sports</desc>
								</valItem>
								<valItem ident="context.family">
									<desc xml:lang="fr">familial</desc>
									<desc xml:lang="en">family</desc>
								</valItem>
								<valItem ident="context.friendly">
									<desc xml:lang="fr">amical</desc>
									<desc xml:lang="en">friendly</desc>
								</valItem>
								<valItem ident="unknown">
									<desc xml:lang="fr">inconnu</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<!-- particDesc : speakers ==> Christophe le fait pour vérif -->
				<elementSpec ident="particDesc" module="corpus" mode="change">
					<desc xml:lang="fr"> informations sur les locuteurs, pour ce prmeier niveau de
						métadonnées peu d'informations sont demnadées, voir ultériurement les
						modules sociolinguistiques </desc>
					<desc xml:lang="en"> speakers information, for this fist metadata level only few
						informations on speakers are concerned, see later on sociolinguistic add-on </desc>
					<content>
						<elementRef key="listPerson" minOccurs="1" maxOccurs="1"/>
					</content>
				</elementSpec>

				<elementSpec ident="listPerson" module="namesdates">
					<content>
						<elementRef key="person" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="person" module="namesdates">
					<content>
						<sequence minOccurs="0" maxOccurs="unbounded">
							<elementRef key="persName"/>
							<elementRef key="age"/>
							<elementRef key="occupation"/>
						</sequence>
						<elementRef key="langKnowledge" minOccurs="0" maxOccurs="unbounded"/>
					</content>
					<attList>
						<attDef ident="id" usage="rec" rendition="id unique" mode="change"/>
						<attDef ident="sex" usage="req" mode="change">
							<valList>
								<valItem ident="1">
									<desc>masculin</desc>
								</valItem>
								<valItem ident="2">
									<desc>feminin</desc>
								</valItem>
								<valItem ident="9">
									<desc>inconnu (voix au téléphone, foule, locuteur générique
										élève/public/...)</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="persName" module="namesdates"/>

				<elementSpec ident="age" module="namesdates">
					<attList>
						<attDef ident="ana" usage="req" mode="change">
							<valList>
								<valItem ident="age.child">
									<desc xml:lang="fr">moins de 15 ans</desc>
									<desc xml:lang="en">less than 15</desc>
								</valItem>
								<valItem ident="age.youth">
									<desc xml:lang="fr">de 16 à 20 ans </desc>
									<desc xml:lang="en">from 16 to 20</desc>
								</valItem>
								<valItem ident="age.adult">
									<desc xml:lang="fr">de 21 à 60 ans</desc>
									<desc xml:lang="en">from 21 to 60</desc>
								</valItem>
								<valItem ident="age.senior">
									<desc xml:lang="fr">plus de 61 ans </desc>
									<desc xml:lang="en">up to 61</desc>
								</valItem>
								<valItem ident="age.unknown">
									<desc xml:lang="fr">inconnu</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="occupation" module="namesdates">
					<attList>
						<attDef ident="ana" usage="req" mode="change">
							<valList>
								<valItem ident="occupation.before_school">
									<desc xml:lang="fr">avant la scolarisation</desc>
									<desc xml:lang="en">before school</desc>
								</valItem>
								<valItem ident="occupation.at_school">
									<desc xml:lang="fr">en scolarité</desc>
									<desc xml:lang="en">scholar</desc>
								</valItem>
								<valItem ident="occupation.professional_activity">
									<desc xml:lang="fr">en activite</desc>
									<desc xml:lang="en">in professional situation</desc>
								</valItem>
								<valItem ident="occupation.retirement">
									<desc xml:lang="fr">retraite</desc>
									<desc xml:lang="en">retirement</desc>
								</valItem>
								<valItem ident="occupation.without_job">
									<desc xml:lang="fr">sans emploi (chomage, H/F au foyer) </desc>
									<desc xml:lang="en">without job (unemployed, at home) </desc>
								</valItem>
								<valItem ident="occupation.unknown">
									<desc xml:lang="fr">inconnu</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="langKnowledge" module="namesdates">
					<content>
						<elementRef key="langKnown" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="langKnown" module="namesdates">
					<attList>
						<attDef ident="tag" usage="req"
							rendition="code iso des langues, cf langUsage pour l'enregistrement"
							mode="change"/>
						<attDef ident="level" usage="req" mode="change">
							<valList>
								<valItem ident="language.first">
									<desc xml:lang="fr">maternelle</desc>
									<desc xml:lang="en">first language</desc>
								</valItem>
								<valItem ident="language.seconde">
									<desc xml:lang="fr">seconde</desc>
									<desc xml:lang="en">other</desc>
								</valItem>
								<valItem ident="language.unknown">
									<desc xml:lang="fr">inconnu</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<!-- settingDesc : recording et medias-->
				<elementSpec ident="settingDesc" module="corpus" mode="change">
					<desc xml:lang="fr"> lieu, langue et date d'enregistrement obligatoire au moins
						pour la langue de l'enregistrement et le pays cf Module additionnel contexte
						et sociliolinguistique (Informe sur le lieu de recueil. S'il y en a
						plusieurs, il faut répéter l'élément "place") </desc>
					<desc xml:lang="en"> Place, language and date are mandatory at least recording
						language and country cf additional module context and sociolinguistic give
						informations on setting place, maybe several place elements </desc>

					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="listPlace"/>
							<elementRef key="setting"/>
							<!-- langUsage : langue de l'enregistrement, plusieurs possibles avec % d'utilisation-->
							<elementRef key="langUsage"/>
						</sequence>
					</content>
				</elementSpec>

				<elementSpec ident="listPlace" module="namesdates">
					<content>
						<elementRef key="place" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="place" module="namesdates">
					<content>
						<elementRef key="country" minOccurs="1" maxOccurs="1"/>
						<elementRef key="settlement" minOccurs="0" maxOccurs="unbounded"/>
						<elementRef key="district" minOccurs="0" maxOccurs="unbounded"/>
						<!-- TDOD : plusieurs desc ??? desc:  piece, exemple changement de lieu avec micro cravate -->
						<elementRef key="desc" minOccurs="0" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="country" module="namesdates">
					<attList>
						<!-- attribut ref= norme iso ISO 3366-1 => Indiquer le pays de recueil , donnée minimale en général connue, fr par défaut -->
						<attDef ident="name" usage="req" mode="change" rend="fr"/>
					</attList>
				</elementSpec>

				<elementSpec ident="district" module="namesdates">
					<attList>
						<attDef ident="name" usage="rec" mode="change" rend="fr"/>
					</attList>
				</elementSpec>

				<elementSpec ident="settlement" module="namesdates">
					<attList>
						<!-- ref= norme TGN ? Indiquer la ville, village de recueil : référentiel Getty Thesaurus of Geographic Name / code UNECE des Nations Unies plus fin que le code postal-->
						<attDef ident="ref" usage="req" mode="change" rend="fr"/>
					</attList>
				</elementSpec>

				<elementSpec ident="setting" module="corpus">
					<content>
						<elementRef key="date" minOccurs="0" maxOccurs="unbounded"/>
						<!-- description de la situation ==> attention aux redondances ==> description déjà dans title -->
						<elementRef key="activity" minOccurs="0" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="activity" module="namesdates">
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<elementSpec ident="p" module="core">
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<elementSpec ident="date" module="core">
					<attList>
						<!-- date : soit intervalle notBefore-iso/notAfter-iso, soit date exacte avec l'attribut when-iso
	  							     ds le modèle normalement contrainte soit when soit before/after-->
						<attDef ident="notBefore-iso" usage="opt" mode="change"/>
						<attDef ident="notAfter-iso" usage="opt" mode="change"/>
						<attDef ident="when-iso" usage="opt" mode="change"/>
					</attList>
				</elementSpec>

				<!-- langUsage : langue de l'enregistrement, plusieurs possibles avec % d'utilisation-->
				<elementSpec ident="langUsage" module="header" mode="change">
					<desc xml:lang="fr">Langue(s) de l'enregistrement, attribut usage avec le %
						d'utilisation si plusieurs langues</desc>
					<desc xml:lang="en">Recording language(s), use attribute usage with the
						percentage if several languages</desc>
					<content>
						<elementRef key="language" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="language" module="header">
					<attList>
						<!-- code iso RFC 3066"-->
						<attDef ident="usage" usage="req" mode="change" rend="100"/>
						<attDef ident="ident" usage="req" mode="change" rend="fr"/>
					</attList>
				</elementSpec>

				<elementSpec ident="appInfo" module="header" mode="change">
					<desc xml:lang="fr"> TEI_CORPO + release ou autre "convertisseur maison" (C'est
						ici qu'on indique la référence à l'application ayant généré le fichier TEI)
						Description obligatoire en TEI donc générique de l'application , evt options
						de traitement pour elan, praat, choix des locuteurs, ... </desc>
					<desc xml:lang="en">Which kind of oral corpora,an additonal setting element will
						complete description (artefact, map, ...)</desc>
					<content>
						<sequence minOccurs="0" maxOccurs="unbounded">
							<elementRef key="application"/>
							<!-- desc:  complément sur les options/choix/logiciels "maison"-->
							<elementRef key="desc"/>
						</sequence>
					</content>
				</elementSpec>

				<elementSpec ident="application" module="header">
					<attList>
						<attDef ident="ident" usage="rec" mode="change"/>
						<!-- seulement recommandé pas obligatoire sinon on aura n'importe quoi -->
						<attDef ident="ana" usage="req" mode="change">
							<valList>
								<valItem ident="teiCorpo"/>
								<valItem ident="other"/>
								<valItem ident="unknown"/>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="projectDesc" module="header" mode="change">
					<desc xml:lang="fr"> texte libre sur le projet, attention aux redondances avec
						les autres champs</desc>
					<desc xml:lang="en">free text on project, be careful of repetition with other
						elements</desc>
					<content>
						<elementRef key="p" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="transcriptionDesc" module="header" mode="change">
					<desc xml:lang="fr"> informations sur le logiciel d'alignement/annotation, la
						convention de transcription, les annotations et l'anonymisation</desc>
					<desc xml:lang="en">informations on annotation/alignment software, transcription
						convention, annotations and anonymization</desc>
					<content>
						<elementRef key="desc" corresp="transcription" minOccurs="1"
							maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="desc" corresp="transcription" module="core">
					<attList>
						<attDef ident="type" usage="req" mode="change">
							<valList>
								<valItem ident="annotation"/>
								<valItem ident="transcript_convention"/>
								<valItem ident="annotation_software"/>
								<valItem ident="anonymization_transcription"/>
							</valList>
						</attDef>
						<attDef ident="ana" usage="req" mode="change">
							<valList>
								<valItem ident="annotation.orthographic">
									<desc xml:lang="fr">prosodie</desc>
									<desc xml:lang="en">prosody</desc>
								</valItem>
								<valItem ident="annotation.prosodical">
									<desc xml:lang="fr">prosodique</desc>
									<desc xml:lang="en">prosodical</desc>
								</valItem>
								<valItem ident="annotation.syntactic">
									<desc xml:lang="fr">syntaxique</desc>
									<desc xml:lang="en">syntactic</desc>
								</valItem>
								<valItem ident="annotation.interactional">
									<desc xml:lang="fr">interaction</desc>
									<desc xml:lang="en">interaction</desc>
								</valItem>
								<valItem ident="annotation.phonological">
									<desc xml:lang="fr">phonologique</desc>
									<desc xml:lang="en">phonological</desc>
								</valItem>
								<valItem ident="annotation.translation">
									<desc xml:lang="fr">traduction</desc>
									<desc xml:lang="en">translation</desc>
								</valItem>
								<valItem ident="annotation.gesture">
									<desc xml:lang="fr">geste</desc>
									<desc xml:lang="en">gesture</desc>
								</valItem>
								<valItem ident="annotation.gaze">
									<desc xml:lang="fr">regard</desc>
									<desc xml:lang="en">gaze</desc>
								</valItem>
								<valItem ident="annotation.unknown">
									<desc xml:lang="fr">inconnu</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>
								<valItem ident="annotation_software.transcriber"/>
								<valItem ident="annotation_software.praat"/>
								<valItem ident="annotation_software.elan"/>
								<valItem ident="annotation_software.exmaralda"/>
								<valItem ident="annotation_software.anvil"/>
								<valItem ident="annotation_software.ilex"/>
								<valItem ident="annotation_software.phon"/>
								<valItem ident="annotation_software.transana"/>
								<valItem ident="annotation_software.unknown"/>

								<valItem ident="anonymization_transcription.anonymization"/>
								<valItem ident="anonymization_transcription.no_anonymization"/>
								<valItem ident="anonymization_transcription.unknown"/>
							</valList>
						</attDef>
					</attList>
				</elementSpec>
			</schemaSpec>
		</body>
	</text>
</TEI>
