models/ofc-v0.odd

<?xml version="1.0" encoding="UTF-8"?>
    <?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
    <?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>

<!-- Version V0, Juillet 2024 : embryon de metadonnees et de therausus pour servir de base et d'exemple -->

<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
	xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0"
	xmlns:rng="http://relaxng.org/ns/structure/1.0">

	<teiHeader>
		<fileDesc>
			<titleStmt>
				<title>
					<idno type="title">ODD OFC (Open French Corpus)</idno>
					<bibl> CORLI 2024 </bibl>
					<desc> L'objectif de cette personnalisation est de proposer un sous-ensemble
						d'éléments TEI pour décrire le niveau minimal des métadonnées de Corpus
						(niveau 0) défini au sein de CORLI </desc>
				</title>
				<principal>
					<name type="org"> CORLI </name>
					<name type="org"> Céline Poudat, Christophe Parisse, ... </name>
				</principal>
			</titleStmt>
			<publicationStmt>
				<publisher>CORLI</publisher>
			</publicationStmt>
			<sourceDesc>
				<p>written from CORLI recommandations</p>
			</sourceDesc>
		</fileDesc>
	</teiHeader>

	<text>
		<body>

			<!-- explications de l'usage et exemples
				on ne s'intéresse qu'aux elementSpec
					les moduleRef ne sont pas utilisés pour l'instant: ils sont là pour les autres usages des ODD

				elementSpec ident="nom du tag dans la TEI" corresp="tag optionel à utiliser si ident n'est pas unique"
					desc: multilingue possible voir champ xml:lang
					content: contenu du noeud y compris partie texte
					attList: listes des attributs

				dans content
					sequence minOccurs maxOccurs (s'il y a plus d'un élément)
						elementRef key="nom du tag dans la TEI" corresp="tag optionel à utiliser si ident n'est pas unique"
						elementRef key=...
					elementRef minOccurs maxOccurs (min et max sont optionels: omis s'ils valent 1)
					textNode
					dataRef : pour indiquer le format du noeud (à la place de textNode)
						integer decimal NCName string duration anyURI data - si rien pas de contrôle de format exemple titre
					valList : si le node ne peut prendre que certaines valeurs prédéfinies

				dans attList
					attDef ident="attribut-dans-TEI" rend="valeur par défaut de l'attribut dans les valeurs de la liste" usage="rec ou req"
						desc (multilingue)
						desc = nom de la rubrique pour les sections, les élements à saisir, pour les valList =bulle d'aide
						datatype
							dataRef : format de l'attribut
						... ou sinon une liste de valeurs: si une seule pas de choix valeur obigatoire
						valList ==> choix multiples type ascenseur
							valItem ident="valeur-dans-TEI"
								desc (multilingue) + rendition (champ aide optionel ? - emplacement à affiner)
			-->


			<!-- definition de TEI_CORPO_METADATA-->
			<schemaSpec ident="TEI_CORPO_METADATA" start="TEI" ns="http://www.tei-c.org/ns/1.0">
				<!-- not used:  corresp="/TEI/profileDesc/particDesc /TEI/fileDesc/sourceDesc" -->
				<!-- ajouter teiCorpus par la suite si collections -->

				<!-- required modules -->
				<moduleRef key="tei"/>
				<!-- à compléter par : reg choice orig pour l'orthographe adapté -->
				<moduleRef key="core"
					include="title bibl desc name respStmt resp publisher pubPlace ref p media date "/>
				<moduleRef key="header"
					include="teiHeader fileDesc titleStmt idno principal publicationStmt availability licence sourceDesc profileDesc langUsage language
					 encodingDesc appInfo application projectDesc classDecl taxonomy catDesc category"/>
				<!-- à compléter par : body div text-->
				<moduleRef key="textstructure" include="TEI text body div "/>
				<!-- optional modules -->
				<!-- à compléter par : u annotationBlock incident kinesic pause shift vocal-->
				<moduleRef key="spoken"
					include="recordingStmt recording transcriptionDesc annotationBlock u vocal kinesic incident pause"/>
				<moduleRef key="namesdates"
					include="persName surname listPerson person age occupation langKnowledge langKnown listPlace place country settlement district "/>
				<moduleRef key="corpus"
					include="activity textDesc channel constitution derivation domain factuality interaction preparedness purpose particDesc settingDesc setting"/>
				<!-- à compléter par Christophe P -->
				<moduleRef key="linking" include="anchor seg timeline when"/>
				<moduleRef key="analysis" include=" w span spanGrp"/>
				<!-- ajouter interp interpGrp-->
				<moduleRef key="transcr"/>
				<!-- utilisé ???-->

				<!-- utilisation d'include
				<classRef key="filedesc" source="ofc-filedesc.odd"/>
				<classRef key="participants" source="ofc-partdesc.odd"/>
				<classRef key="settingencoding" source="ofc-setting.odd"/>
				-->

				<!-- structure generale TEI -->
				<elementSpec ident="TEI" module="textstructure" mode="change">
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="teiHeader"/>
						</sequence>
					</content>
				</elementSpec>

				<!-- structure generale teiHeader -->
				<elementSpec ident="teiHeader" module="header" mode="change">
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="fileDesc"/>
							<elementRef key="profileDesc"/>
						</sequence>
					</content>
				</elementSpec>

				<elementSpec ident="fileDesc" module="header">
					<desc xml:lang="fr">Titre, responsable, date, url</desc>
					<desc xml:lang="en">Title, responsable, date, url</desc>
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="titleStmt"/>
							<elementRef key="publicationStmt"/>
						</sequence>
					</content>
					<remarks style="element">
						<p><ident>css-fileDesc</ident></p>
					</remarks>
				</elementSpec>

				<!-- titleStmt : un principal, de 0 à n respStmt (collecteur, transcripteur, collecteur, ...) -->
				<elementSpec ident="titleStmt" module="header" mode="change" n="1">
					<desc xml:lang="fr">La ressource: titre, description, citation, responsable, contributeurs</desc>
					<desc xml:lang="en">Resource : Title, description, citation, responsible, contributors</desc>
					<content>
						<elementRef key="title" minOccurs="1" maxOccurs="1" />
						<elementRef key="respStmt" minOccurs="0" maxOccurs="unbounded" />
					</content>
				</elementSpec>

				<elementSpec ident="title" module="core" mode="change">
					<desc xml:lang="fr"> Titre, description, citation</desc>
					<desc xml:lang="en"> Title, description, citation</desc>
					<content>
						<elementRef key="idno" corresp="title" minOccurs="1" maxOccurs="1"/>
						<elementRef key="desc" minOccurs="1" maxOccurs="1"/>
					</content>
				</elementSpec>

				<elementSpec ident="desc" module="core">
					<desc xml:lang="fr">Description courte</desc>
					<desc xml:lang="en">Short Description</desc>
					<content>
						<textNode/>
						<dataRef name="multiline"/>
					</content>
				</elementSpec>

				<elementSpec ident="idno" corresp="title" module="header">
					<desc xml:lang="fr">Titre de la ressource, nom d'usage </desc>
					<desc xml:lang="en">Resource title, usual title</desc>
					<content>
						<textNode/>
					</content>
					<attList>
						<attDef ident="type" usage="req" mode="change" rend="title">
							<valList>
								<valItem ident="title"/>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<!-- respStmt dans titleStmt -->
				<elementSpec ident="respStmt" module="core">
					<desc xml:lang="fr">Contributeurs </desc>
					<desc xml:lang="en">Contributors</desc>
					<content>
						<sequence minOccurs="1" maxOccurs="unbounded">
							<elementRef key="resp"/>
							<elementRef key="name"/>
						</sequence>
					</content>
				</elementSpec>

				<elementSpec ident="resp" module="core">
					<desc xml:lang="fr">Rôle, fonction</desc>
					<desc xml:lang="en">Function</desc>
					<content>
						<valList mode="replace">
							<valItem ident="resp.annotator">
								<desc rendition="texte aide annotateur" xml:lang="fr">annotateur</desc>
								<desc rendition="help text on annotator" xml:lang="en">annotator</desc>
							</valItem>
							<valItem ident="resp.compiler">
								<desc rendition="texte aide coordinateur" xml:lang="fr">coordinateur</desc>
								<desc rendition="help text on annotator" xml:lang="en">coordinator</desc>
							</valItem>
							<valItem ident="resp.interviewer">
								<desc rendition="texte aide interviewer" xml:lang="fr">interviewer</desc>
								<desc rendition="help text on interviewer" xml:lang="en">interviewer</desc>
							</valItem>
							<valItem ident="resp.recorder">
								<desc rendition="texte aide collecteur" xml:lang="fr">collecteur</desc>
								<desc rendition="help text on recorder" xml:lang="en">recorder</desc>
							</valItem>
							<valItem ident="resp.transcriber">
								<desc rendition="texte aide transcripteur" xml:lang="fr">transcripteur</desc>
								<desc rendition="help text on transcriber" xml:lang="en">transcriber</desc>
							</valItem>
							<valItem ident="resp.translator">
								<desc rendition="texte aide traducteur" xml:lang="fr">traducteur</desc>
								<desc rendition="help text on translator" xml:lang="en">translator</desc>
							</valItem>
							<valItem ident="resp.data_inputter">
								<desc rendition="texte aide data_inputter" xml:lang="fr">vérificateur - normalisateur</desc>
								<desc rendition="help text on data_inputter" xml:lang="en">data_inputter</desc>
							</valItem>
							<valItem ident="resp.OTHER">
								<desc xml:lang="fr">autre rôle</desc>
								<desc xml:lang="en">other role</desc>
							</valItem>
						</valList>
					</content>
				</elementSpec>

				<elementSpec ident="name" module="core">
					<desc xml:lang="fr">Nom</desc>
					<desc xml:lang="en">Name</desc>
					<content>
						<!-- default="alphanum" -->
						<dataRef name="NCName"/>
					</content>
					<attList>
						<attDef ident="type" usage="req" mode="change" rend="name.project">
							<valList mode="replace">
								<valItem ident="name.organism">
									<desc rendition="texte aide laboratoire" xml:lang="fr"
										>laboratoire ou institution</desc>
									<desc rendition="help text on search lab" xml:lang="en">Research
										laboratory or institution</desc>
								</valItem>
								<valItem ident="name.project">
									<desc rendition="texte aide projet" xml:lang="fr">projet</desc>
									<desc rendition="help texte on project" xml:lang="en"
										>project</desc>
								</valItem>
								<valItem ident="name.person">
									<desc rendition="texte aide personne" xml:lang="fr"
										>personne</desc>
									<desc rendition="help text on person" xml:lang="en"
										>person</desc>
								</valItem>
								<valItem ident="name.other">
									<desc xml:lang="fr">autre entité</desc>
									<desc xml:lang="en">other entity</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="publicationStmt" module="header" mode="change" n="1">
					<desc xml:lang="fr">Diffusion : identifiant unique, diffusion, sites web, licence</desc>
					<desc xml:lang="en">Distribution : handle, publisher, pubPlace, license</desc>
					<content>
						<elementRef key="pubPlace" minOccurs="0" maxOccurs="unbounded"/>
						<elementRef key="date" minOccurs="1" maxOccurs="1"/>
					</content>
				</elementSpec>

				<elementSpec ident="pubPlace" module="core">
					<desc xml:lang="fr">Diffusion dans d'autres sites</desc>
					<desc xml:lang="en">Other website for this resource</desc>
					<content>
						<elementRef key="ref" minOccurs="1" maxOccurs="unbounded"/>
						<textNode/>
					</content>
				</elementSpec>

				<elementSpec ident="ref">
					<desc xml:lang="fr">URL</desc>
					<desc xml:lang="en">URL</desc>
					<content>
						<textNode/>
					</content>
					<attList>
						<attDef ident="target" usage="req" mode="change">
							<desc xml:lang="fr">Lien vers la ressource (URL)</desc>
							<desc xml:lang="en">Resource target (URL)</desc>
							<datatype>
								<dataRef name="anyURI"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="date" module="core">
					<desc xml:lang="fr">Intervalle (depuis/jusqu'à) ou date exacte</desc>
					<desc xml:lang="en">Interval (from/to) or exact date</desc>
					<!-- ds le modèle normalement contrainte soit when soit before/after
					-->
					<content>
						<textNode/>
					</content>
					<attList>
						<attDef ident="notBefore-iso" usage="opt" mode="change">
							<desc xml:lang="fr">Depuis</desc>
							<desc xml:lang="en">Not before</desc>
							<datatype>
								<dataRef name="date"/>
							</datatype>
						</attDef>
						<attDef ident="notAfter-iso" usage="opt" mode="change">
							<desc xml:lang="fr">Jusqu'à</desc>
							<desc xml:lang="en">Not after</desc>
							<datatype>
								<dataRef name="date"/>
							</datatype>
						</attDef>
						<attDef ident="when-iso" usage="opt" mode="change">
							<desc xml:lang="fr">Date exacte</desc>
							<desc xml:lang="en">Exact date</desc>
							<datatype>
								<dataRef name="date"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="profileDesc" module="header">
					<desc xml:lang="fr">Catégorie, participants, contexte, langue, lieu</desc>
					<desc xml:lang="en">Category, participants, setting, language, place</desc>
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="textDesc"/>
							<elementRef key="textClass"/>
							<elementRef key="particDesc"/>
							<elementRef key="langUsage"/>
							<elementRef key="settingDesc"/>
						</sequence>
					</content>
					<remarks style="element">
						<p><ident>css-profileDesc</ident></p>
					</remarks>
				</elementSpec>

				<!-- textDesc : catégorisation du document oral-->
				<elementSpec ident="textDesc" module="corpus" mode="change" n="1">
					<desc xml:lang="fr">Type de données</desc>
					<desc xml:lang="en">Datatype</desc>
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="channel"/>
							<elementRef key="domain"/>
						</sequence>
					</content>
					<remarks style="element">
						<p><ident>css-textDesc</ident></p>
					</remarks>
				</elementSpec>

				<elementSpec ident="channel" module="corpus">
					<desc xml:lang="fr">Mode : radio/tv/téléphone/présence/visio</desc>
					<desc xml:lang="en">Mode: radio/tv/phone/presence/visio</desc>
					<attList>
						<attDef ident="mode" usage="req" mode="change" rend="mode.unknown" >
							<valList>
								<!-- pas de choix autre volontairement -->
								<valItem ident="mode.audio">
									<desc xml:lang="fr">audio</desc>
									<desc xml:lang="en">audio</desc>
								</valItem>
								<valItem ident="mode.video">
									<desc xml:lang="fr">video</desc>
									<desc xml:lang="en">video</desc>
								</valItem>
								<valItem ident="mode.written">
									<desc xml:lang="fr">écrit</desc>
									<desc xml:lang="en">written</desc>
								</valItem>
								<valItem ident="mode.multimodal">
									<desc xml:lang="fr">multimodal</desc>
									<desc xml:lang="en">multimodal</desc>
								</valItem>
								<valItem ident="mode.CMC">
									<desc xml:lang="fr">CMC</desc>
									<desc xml:lang="en">CMC</desc>
								</valItem>
								<valItem ident="mode.unknown">
									<desc xml:lang="fr">inconnu</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>
							</valList>
						</attDef>
						<attDef ident="submode" usage="req" mode="change" rend="submode.unknown">
							<valList>
								<!-- pas de choix autre volontairement -->
								<valItem ident="submode.radio">
									<desc xml:lang="fr">radio</desc>
									<desc xml:lang="en">radio</desc>
								</valItem>
								<valItem ident="submode.phone">
									<desc xml:lang="fr">téléphone</desc>
									<desc xml:lang="en">phone</desc>
								</valItem>
								<valItem ident="submode.tv">
									<desc xml:lang="fr">television</desc>
									<desc xml:lang="en">TV</desc>
								</valItem>
								<valItem ident="submode.visioconf">
									<desc xml:lang="fr">Visioconférence</desc>
									<desc xml:lang="en">visioconference</desc>
								</valItem>
								<valItem ident="submode.print">
									<desc xml:lang="fr">imprimé</desc>
									<desc xml:lang="en">print</desc>
								</valItem>
								<valItem ident="submode.poster">
									<desc xml:lang="fr">inscription</desc>
									<desc xml:lang="en">poster</desc>
								</valItem>
								<valItem ident="submode.poster.other">
									<desc xml:lang="fr">autre</desc>
									<desc xml:lang="en">other</desc>
								</valItem>
								<valItem ident="submode.poster.graffiti">
									<desc xml:lang="fr">graffiti</desc>
									<desc xml:lang="en">graffiti</desc>
								</valItem>
								<valItem ident="submode.poster.tag">
									<desc xml:lang="fr">tag</desc>
									<desc xml:lang="en">tag</desc>
								</valItem>
								<valItem ident="submode.handwritten">
									<desc xml:lang="fr">manuscrit</desc>
									<desc xml:lang="en">handwritten</desc>
								</valItem>
								<valItem ident="submode.keyboard">
									<desc xml:lang="fr">tapuscrit</desc>
									<desc xml:lang="en">written with a keyboard</desc>
								</valItem>
								<valItem ident="submode.unknown">
									<desc xml:lang="fr">inconnu</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="domain" module="corpus">
					<desc xml:lang="fr">Domaine</desc>
					<desc xml:lang="en">Domain</desc>
					<attList>
						<attDef ident="type" usage="req" mode="change" >
							<valList>
								<valItem ident="domain.artistique">
									<desc xml:lang="fr">artistique</desc>
									<desc xml:lang="en">artistical</desc>
								</valItem>
								<valItem ident="nature_type.didactico-scientifique">
									<desc xml:lang="fr">didactico-scientifique</desc>
									<desc xml:lang="en">scientific didactic</desc>
								</valItem>

								<valItem ident="nature_type.unknown">
									<desc xml:lang="fr">domaine inconnu</desc>
									<desc xml:lang="en">unknown domain</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="textClass" module="corpus" mode="change" n="1">
					<desc xml:lang="fr">Genre(s)</desc>
					<desc xml:lang="en">Genre(s)</desc>
					<content>
						<sequence minOccurs="1" maxOccurs="unbounded">
							<elementRef key="keywords"/>
						</sequence>
					</content>
					<remarks style="element">
						<p><ident>css-textDesc</ident></p>
					</remarks>
				</elementSpec>

				<elementSpec ident="keywords" module="corpus" mode="change" n="1">
					<desc xml:lang="fr">Type de genre</desc>
					<desc xml:lang="en">Genre name</desc>
					<content>
						<valList>
							<valItem ident="interactions_orales">
								<desc xml:lang="fr">interactions orales</desc>
								<desc xml:lang="en">oral interactions</desc>
							</valItem>
							<valItem ident="interactions_orales.conference">
								<desc xml:lang="fr">interactions orales - conférence</desc>
								<desc xml:lang="en">oral interactions - conference</desc>
							</valItem>
							<valItem ident="interactions_orales.conversation">
								<desc xml:lang="fr">interactions orales - conversation</desc>
								<desc xml:lang="en">oral interactions - conversation</desc>
							</valItem>
							<valItem ident="interactions_orales.cours">
								<desc xml:lang="fr">interactions orales - cours</desc>
								<desc xml:lang="en">oral interactions - course</desc>
							</valItem>
							<valItem ident="interactions_orales.dialogue_ofc">
								<desc xml:lang="fr">interactions orales - dialogue_ofc</desc>
								<desc xml:lang="en">oral interactions - dialogue_ofc</desc>
							</valItem>
							<valItem ident="interactions_orales.entretien">
								<desc xml:lang="fr">interactions orales - entretien</desc>
								<desc xml:lang="en">oral interactions - interview</desc>
							</valItem>
							<valItem ident="interactions_orales.entretien_dirige">
								<desc xml:lang="fr">interactions orales - entretien dirigé</desc>
								<desc xml:lang="en">oral interactions - guided interview</desc>
							</valItem>
							<valItem ident="interactions_orales.jeu">
								<desc xml:lang="fr">interactions orales - jeu</desc>
								<desc xml:lang="en">oral interactions - game</desc>
							</valItem>
							<valItem ident="interactions_orales.repas">
								<desc xml:lang="fr">interactions orales - repas</desc>
								<desc xml:lang="en">oral interactions - meal</desc>
							</valItem>
							<valItem ident="interactions_orales.reunion">
								<desc xml:lang="fr">interactions orales - réunion</desc>
								<desc xml:lang="en">oral interactions - meeting</desc>
							</valItem>
							<valItem ident="interactions_orales.transaction">
								<desc xml:lang="fr">interactions orales - transaction</desc>
								<desc xml:lang="en">oral interactions - transaction</desc>
							</valItem>
							<valItem ident="interactions_ecrites">
								<desc xml:lang="fr">interactions écrites</desc>
								<desc xml:lang="en">written interactions</desc>
							</valItem>
							<valItem ident="interactions_ecrites.blog">
								<desc xml:lang="fr">interactions orales - blog</desc>
								<desc xml:lang="en">written interactions - blog</desc>
							</valItem>
							<valItem ident="interactions_ecrites.carte_postale">
								<desc xml:lang="fr">interactions orales - carte postale</desc>
								<desc xml:lang="en">written interactions - postcard</desc>
							</valItem>
							<valItem ident="interactions_ecrites.forum">
								<desc xml:lang="fr">interactions orales - forum</desc>
								<desc xml:lang="en">written interactions - forum</desc>
							</valItem>
							<valItem ident="interactions_ecrites.lettre">
								<desc xml:lang="fr">interactions orales - lettre</desc>
								<desc xml:lang="en">written interactions - letter</desc>
							</valItem>
							<valItem ident="interactions_ecrites.SMS">
								<desc xml:lang="fr">interactions orales - SMS</desc>
								<desc xml:lang="en">written interactions - SMS</desc>
							</valItem>
							<valItem ident="interactions_ecrites.twitch">
								<desc xml:lang="fr">interactions orales - Twitch</desc>
								<desc xml:lang="en">written interactions - Twitch</desc>
							</valItem>
							<valItem ident="interactions_ecrites.wikipedia">
								<desc xml:lang="fr">interactions orales - Wikipédia</desc>
								<desc xml:lang="en">written interactions - Wikipedia</desc>
							</valItem>
							<valItem ident="presse">
								<desc xml:lang="fr">presse</desc>
								<desc xml:lang="en">press</desc>
							</valItem>
							<valItem ident="presse.article_journalistique">
								<desc xml:lang="fr">presse - article journalistique</desc>
								<desc xml:lang="en">press - journalistic article</desc>
							</valItem>
							<valItem ident="presse.interview">
								<desc xml:lang="fr">presse - interview</desc>
								<desc xml:lang="en">press - interview</desc>
							</valItem>
							<valItem ident="textes_juridiques">
								<desc xml:lang="fr">presse - textes juridiques</desc>
								<desc xml:lang="en">press - legal texts</desc>
							</valItem>
							<valItem ident="textes_parlementaires">
								<desc xml:lang="fr">textes parlementaires</desc>
								<desc xml:lang="en">parliamentary texts</desc>
							</valItem>
							<valItem ident="textes_parlementaires.compte-rendu_de_parole">
								<desc xml:lang="fr">presse - compte-rendu de parole</desc>
								<desc xml:lang="en">parliamentary texts - speech report</desc>
							</valItem>
							<valItem ident="textes_parlementaires.compte-rendu_de_reunion">
								<desc xml:lang="fr">presse - compte-rendu de réunion</desc>
								<desc xml:lang="en">parliamentary texts - meeting report</desc>
							</valItem>
							<valItem ident="textes_parlementaires.compte-rendu_de_seance_publique">
								<desc xml:lang="fr">presse - compte-rendu de séance publique</desc>
								<desc xml:lang="en">parliamentary texts - public meeting report</desc>
							</valItem>
							<valItem ident="textes_parlementaires.debat_parlementaire">
								<desc xml:lang="fr">presse - débat parlementaire</desc>
								<desc xml:lang="en">parliamentary texts - parliamentary debate</desc>
							</valItem>
							<valItem ident="textes_scientifiques">
								<desc xml:lang="fr">textes scientifiques</desc>
								<desc xml:lang="en">scientific texts</desc>
							</valItem>
							<valItem ident="textes_scientifiques.article_encyclopedique">
								<desc xml:lang="fr">presse - article encyclopédique</desc>
								<desc xml:lang="en">scientific texts - encyclopedic article</desc>
							</valItem>
							<valItem ident="textes_scientifiques.article_scientifique">
								<desc xml:lang="fr">presse - article scientifique</desc>
								<desc xml:lang="en">scientific texts - scientific article</desc>
							</valItem>
							<valItem ident="textes_scientifiques.conference">
								<desc xml:lang="fr">presse - conférence</desc>
								<desc xml:lang="en">scientific texts - conference</desc>
							</valItem>
							<valItem ident="textes_simplifies">
								<desc xml:lang="fr">textes simplifiés</desc>
								<desc xml:lang="en">simplified texts</desc>
							</valItem>
							<valItem ident="textes_simplifies.article_encyclopedique">
								<desc xml:lang="fr">textes simplifiés - article encyclopédique</desc>
								<desc xml:lang="en">simplified texts - encyclopaedic article</desc>
							</valItem>
							<valItem ident="textes_simplifies.article_scientifique">
								<desc xml:lang="fr">textes simplifiés - article scientifique</desc>
								<desc xml:lang="en">simplified texts - scientific article</desc>
							</valItem>
							<valItem ident="ecrits_scolaires">
								<desc xml:lang="fr">écrits scolaires</desc>
								<desc xml:lang="en">academic writing</desc>
							</valItem>
							<valItem ident="ecrits_scolaires.analyse_sujet_type_CRPE">
								<desc xml:lang="fr">écrits scolaires - analyse - sujet type CRPE</desc>
								<desc xml:lang="en">academic writing - analysis - CRPE-type subject</desc>
							</valItem>
							<valItem ident="ecrits_scolaires.compte_rendu_de_lecture">
								<desc xml:lang="fr">écrits scolaires - compte-rendu de lecture</desc>
								<desc xml:lang="en">academic writing - reading report</desc>
							</valItem>
							<valItem ident="ecrits_scolaires.compte_rendu_professionnel">
								<desc xml:lang="fr">écrits scolaires - compte-rendu professionnel</desc>
								<desc xml:lang="en">academic writing - professional report</desc>
							</valItem>
							<valItem ident="ecrits_scolaires.dossier">
								<desc xml:lang="fr">écrits scolaires - dossier</desc>
								<desc xml:lang="en">academic writing - dossier</desc>
							</valItem>
							<valItem ident="ecrits_scolaires.lettre_de_motivation">
								<desc xml:lang="fr">écrits scolaires - lettre de motivation</desc>
								<desc xml:lang="en">academic writing - cover letter</desc>
							</valItem>
							<valItem ident="ecrits_scolaires.memoire">
								<desc xml:lang="fr">écrits scolaires - mémoire</desc>
								<desc xml:lang="en">academic writing - dissertation</desc>
							</valItem>
							<valItem ident="ecrits_scolaires.rapport_de_stage">
								<desc xml:lang="fr">écrits scolaires - rapport de stage</desc>
								<desc xml:lang="en">academic writing - internship report</desc>
							</valItem>
							<valItem ident="ecrits_scolaires.redaction">
								<desc xml:lang="fr">écrits scolaires - rédaction</desc>
								<desc xml:lang="en">academic writing - essay</desc>
							</valItem>
							<valItem ident="ecrits_scolaires.synthese_theorique">
								<desc xml:lang="fr">écrits scolaires - synthèse théorique</desc>
								<desc xml:lang="en">academic writing - theoretical synthesis</desc>
							</valItem>
							<valItem ident="unknown">
								<desc xml:lang="fr">inconnu</desc>
								<desc xml:lang="en">unknown</desc>
							</valItem>
						</valList>
					</content>
				</elementSpec>

				<elementSpec ident="particDesc" module="corpus" mode="change" n="1">
					<desc xml:lang="fr">Locuteurs, Scripteurs</desc>
					<desc xml:lang="en">Speakers, Scriptors</desc>
					<content>
						<elementRef key="listPerson" minOccurs="1" maxOccurs="1"/>
					</content>
					<remarks style="element">
						<p><ident>css-particDesc</ident></p>
					</remarks>
				</elementSpec>

				<elementSpec ident="listPerson" module="namesdates">
					<content>
						<elementRef key="person" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="person" module="namesdates">
					<desc xml:lang="fr">Type de Locuteur, Scripteur</desc>
					<desc xml:lang="en">Type of Speaker, Scriptor</desc>
					<content>
						<sequence minOccurs="0" maxOccurs="unbounded">
							<elementRef key="desc" minOccurs="1" maxOccurs="1"/>
						</sequence>
					</content>
					<attList>
						<attDef ident="xml:id" usage="rec" rendition="person type" mode="change">
<!--
							<desc xml:lang="fr">Type de personne</desc>
							<desc xml:lang="en">Type of person</desc>
-->
<!--
							<datatype>
								<dataRef name="string"/>
							</datatype>
-->
							<valList>
								<valItem ident="loc.child">
									<desc xml:lang="fr">enfant</desc>
									<desc xml:lang="en">child</desc>
								</valItem>
								<valItem ident="loc.adult">
									<desc xml:lang="fr">adulte</desc>
									<desc xml:lang="en">adulte</desc>
								</valItem>
								<valItem ident="loc.teen">
									<desc xml:lang="fr">adolescent</desc>
									<desc xml:lang="en">teen</desc>
								</valItem>
								<valItem ident="loc.scholar">
									<desc xml:lang="fr">universitaire</desc>
									<desc xml:lang="en">scholar</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>

				<!-- langUsage : langue de l'enregistrement, plusieurs possibles avec % d'utilisation-->
				<elementSpec ident="langUsage" module="header" mode="change" n="1">
					<content>
						<elementRef key="language" minOccurs="1" maxOccurs="unbounded"/>
					</content>
					<remarks style="element">
						<p><ident>css-settingDesc</ident></p>
					</remarks>
				</elementSpec>

				<elementSpec ident="language" module="header">
					<desc xml:lang="fr">Langue(s) (si plusieurs, alors pourcentage d'utilisation)</desc>
					<desc xml:lang="en">Language(s), a percentage if several languages</desc>
					<attList>
						<!-- code iso RFC 3066"-->
						<attDef ident="usage" usage="req" mode="change" rend="100%"/>
						<attDef ident="ident" usage="req" mode="change" rend="fr">
							<datatype>
								<dataRef name="languagecode"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>

				<!-- settingDesc : place -->
				<elementSpec ident="settingDesc" module="corpus" mode="change" n="1">
					<desc xml:lang="fr">Origine du corpus : lieu,langue</desc>
					<desc xml:lang="en">Corpus origin: place,language</desc>
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="listPlace"/>
						</sequence>
					</content>
					<remarks style="element">
						<p><ident>css-settingDesc</ident></p>
					</remarks>
				</elementSpec>

				<elementSpec ident="listPlace" module="namesdates">
					<content>
						<elementRef key="place" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="place" module="namesdates">
					<desc xml:lang="fr">Lieu</desc>
					<desc xml:lang="en">Place</desc>
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="placeName"/>
							<elementRef key="country"/>
						</sequence>
					</content>
				</elementSpec>

				<elementSpec ident="placeName" module="namesdates">
					<desc xml:lang="fr">Lieu</desc>
					<desc xml:lang="en">Place</desc>
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<elementSpec ident="country" module="namesdates">
					<desc xml:lang="fr">Pays</desc>
					<desc xml:lang="en">Country</desc>
					<attList>
						<!-- attribut ref= norme iso ISO 3366-1 => Indiquer le pays de recueil , donnée minimale en général connue, fr par défaut -->
						<attDef ident="name" usage="req" mode="change" rend="fr">
							<datatype>
								<dataRef name="countrycode"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>

			</schemaSpec>
		</body>
	</text>
</TEI>
