models/partdesc.odd

<?xml version="1.0" encoding="UTF-8"?>
    <?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
    <?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>

<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
	xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0"
	xmlns:rng="http://relaxng.org/ns/structure/1.0">

	<teiHeader>
		<fileDesc>
			<titleStmt>
				<title>
					<idno type="title">Personnalisation ODD pour les participants</idno>
					<bibl> CORLI et IRCOM partdesc.odd </bibl>
					<desc> Ne pas encombrer l'écran et ne gérer que les participants </desc>
				</title>
				<principal>
					<name type="org"> CORLI - IRCOM </name>
					<name type="org"> Carole Etienne, Loic Liégeois, Christophe Parisse ... </name>
				</principal>
			</titleStmt>
			<publicationStmt>
				<publisher>CORLI wiki</publisher>
			</publicationStmt>
			<sourceDesc>
				<p>written from IRCOM/CORLI recommandations</p>
			</sourceDesc>
		</fileDesc>
	</teiHeader>

	<text>
		<body>

			<!-- definition de TEI_CORPO_METADATA-->
			<schemaSpec ident="TEI_CORPO_METADATA" start="TEI">

				<!-- required modules -->
				<moduleRef key="tei"/>
				<!-- à compléter par : reg choice orig pour l'orthographe adapté -->
				<moduleRef key="core"
					include="title bibl desc name respStmt resp publisher pubPlace ref p media date "/>
				<moduleRef key="header"
					include="teiHeader fileDesc titleStmt idno principal publicationStmt availability licence sourceDesc profileDesc langUsage language
					 encodingDesc appInfo application projectDesc classDecl taxonomy catDesc category"/>
				<!-- à compléter par : body div text-->
				<moduleRef key="textstructure" include="TEI text body div "/>
				<!-- optional modules -->
				<!-- à compléter par : u annotationBlock incident kinesic pause shift vocal-->
				<moduleRef key="spoken"
					include="recordingStmt recording transcriptionDesc annotationBlock u vocal kinesic incident pause"/>
				<moduleRef key="namesdates"
					include="persName surname listPerson person age occupation langKnowledge langKnown listPlace place country settlement district "/>
				<moduleRef key="corpus"
					include="activity textDesc channel constitution derivation domain factuality interaction preparedness purpose particDesc settingDesc setting"/>
				<!-- à compléter par Christophe P -->
				<moduleRef key="linking" include="anchor seg timeline when"/>
				<moduleRef key="analysis" include=" w span spanGrp"/>
				<!-- ajouter interp interpGrp-->
				<moduleRef key="transcr"/>
				<!-- utilisé ???-->

				<!-- structure generale TEI -->
				<elementSpec ident="TEI" module="textstructure" mode="change">
					<content>
						<elementRef key="teiHeader" minOccurs="1" maxOccurs="1"/>
					</content>
				</elementSpec>

				<!-- structure generale teiHeader -->
				<elementSpec ident="teiHeader" module="header" mode="change">
					<content>
						<elementRef key="profileDesc" minOccurs="1" maxOccurs="1"/>
					</content>
				</elementSpec>

				<elementSpec ident="profileDesc" module="header">
					<desc xml:lang="fr">Catégorie, participants, contexte, langue</desc>
					<desc xml:lang="en">Category, participants, setting, language</desc>
					<content>
						<elementRef key="particDesc" minOccurs="1" maxOccurs="1"/>
					</content>
				</elementSpec>

				<!-- particDesc : speakers ==> Christophe le fait pour vérif -->
				<elementSpec ident="particDesc" module="corpus" mode="change">
					<desc xml:lang="fr"> informations sur les locuteurs, pour ce prmeier niveau de
						métadonnées peu d'informations sont demnadées, voir ultériurement les
						modules sociolinguistiques </desc>
					<desc xml:lang="en"> speakers information, for this fist metadata level only few
						informations on speakers are concerned, see later on sociolinguistic add-on </desc>
					<content>
						<elementRef key="listPerson" minOccurs="1" maxOccurs="1"/>
					</content>
				</elementSpec>
				
				<elementSpec ident="listPerson" module="namesdates">
					<content>
						<elementRef key="person" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>
				
				<elementSpec ident="person" module="namesdates">
					<content>
						<sequence minOccurs="0" maxOccurs="unbounded">
							<elementRef key="persName"/>
							<elementRef key="age"/>
							<elementRef key="altGrp"/>
							<elementRef key="occupation"/>
							<elementRef key="socecStatus"/>
							<elementRef key="education"/>
						</sequence>
						<elementRef key="langKnowledge" minOccurs="0" maxOccurs="unbounded"/>
						<elementRef key="note" minOccurs="0" maxOccurs="unbounded"/>
					</content>
					<attList>
						<attDef ident="xml:id" usage="rec" rendition="id unique" mode="change">
							<desc xml:lang="fr">ID unique du locuteur</desc>
							<desc xml:lang="en">Unique ID of locuteur</desc>
							<datatype>
								<dataRef name="string"/>
							</datatype>
						</attDef>
						<attDef ident="sex" usage="req" mode="change">
							<desc xml:lang="fr">Sexe</desc>
							<desc xml:lang="en">Sex</desc>
							<valList >
								<valItem ident="1">
									<desc>masculin</desc>
								</valItem>
								<valItem ident="2">
									<desc>feminin</desc>
								</valItem>
								<valItem ident="9">
									<desc>inconnu (voix au téléphone, foule, locuteur générique
										élève/public/...)</desc>
								</valItem>
							</valList>
						</attDef>
						<attDef ident="age" usage="rec" rendition="age" mode="change">
							<desc>Age</desc>
							<datatype>
								<dataRef name="string"/>
							</datatype>
						</attDef>
						<attDef ident="source" usage="rec" rendition="source" mode="change">
							<desc xml:lang="fr">Pointeur sur une ressource externe</desc>
							<desc xml:lang="en">Point to an external source</desc>
							<datatype>
								<dataRef name="anyURI"/>
							</datatype>
						</attDef>
						<attDef ident="role" usage="rec" rendition="role" mode="change">
							<desc xml:lang="fr">Role du participant</desc>
							<desc xml:lang="fr">Participant role</desc>
							<datatype>
								<dataRef name="openlist"/>
							</datatype>
							<valList>
								<valItem ident="target_child">
									<desc xml:lang="fr">enfant sujet de l'étude</desc>
									<desc xml:lang="en">child study target</desc>
								</valItem>
								<valItem ident="target_adult">
									<desc xml:lang="fr">adulte sujet de l'étude</desc>
									<desc xml:lang="en">adult study target</desc>
								</valItem>
								<valItem ident="child">
									<desc xml:lang="fr">enfant</desc>
									<desc xml:lang="en">child</desc>
								</valItem>
								<valItem ident="adult">
									<desc xml:lang="fr">adulte</desc>
									<desc xml:lang="en">adult</desc>
								</valItem>
								<valItem ident="observer">
									<desc xml:lang="fr">observateur</desc>
									<desc xml:lang="en">observer</desc>
								</valItem>
								<valItem ident="mother">
									<desc xml:lang="fr">mère</desc>
									<desc xml:lang="en">mother</desc>
								</valItem>
								<valItem ident="father">
									<desc xml:lang="fr">père</desc>
									<desc xml:lang="en">father</desc>
								</valItem>
								<valItem ident="unidentified">
									<desc xml:lang="fr">inconnu</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>
				
				<elementSpec ident="persName" module="namesdates">
					<content>
						<textNode/>
					</content>
				</elementSpec>
				
				<elementSpec ident="socecStatus" module="namesdates">
					<content>
						<textNode/>
					</content>
				</elementSpec>
				
				<elementSpec ident="education" module="namesdates">
					<content>
						<textNode/>
					</content>
				</elementSpec>
				
				<elementSpec ident="altGrp" module="core">
					<content>
						<elementRef key="alt" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>
				
				<elementSpec ident="alt" module="core">
					<attList>
						<attDef ident="type">
							<desc>Type</desc>
							<datatype>
								<dataRef name="string"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>
				
				<elementSpec ident="note" module="core">
					<content>
						<textNode/>
					</content>
					<attList>
						<attDef ident="type">
							<desc>Type</desc>
							<datatype>
								<dataRef name="string"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>
				
				<elementSpec ident="age" module="namesdates">
					<content>
						<valList>
							<valItem ident="age.infant">
								<desc xml:lang="fr">moins de 1 an</desc>
								<desc xml:lang="en">less than 1</desc>
							</valItem>
							<valItem ident="age.youngchild">
								<desc xml:lang="fr">de 1 à 2 ans</desc>
								<desc xml:lang="en">from 1 to 2</desc>
							</valItem>
							<valItem ident="age.middlechild">
								<desc xml:lang="fr">de 3 à 5 ans</desc>
								<desc xml:lang="en">from 3 to 5</desc>
							</valItem>
							<valItem ident="age.oldchild">
								<desc xml:lang="fr">de 6 à 15 ans</desc>
								<desc xml:lang="en">from 6 to 15</desc>
							</valItem>
							<valItem ident="age.youth">
								<desc xml:lang="fr">de 16 à 20 ans </desc>
								<desc xml:lang="en">from 16 to 20</desc>
							</valItem>
							<valItem ident="age.adult">
								<desc xml:lang="fr">de 21 à 60 ans</desc>
								<desc xml:lang="en">from 21 to 60</desc>
							</valItem>
							<valItem ident="age.senior">
								<desc xml:lang="fr">plus de 61 ans </desc>
								<desc xml:lang="en">up to 61</desc>
							</valItem>
							<valItem ident="age.unknown">
								<desc xml:lang="fr">inconnu</desc>
								<desc xml:lang="en">unknown</desc>
							</valItem>
						</valList>
					</content>
					<attList>
						<attDef ident="value" usage="req" mode="change"/>
					</attList>
				</elementSpec>
				
				<elementSpec ident="occupation" module="namesdates">
					<attList>
						<attDef ident="ana" usage="req" mode="change">
							<valList>
								<valItem ident="occupation.before_school">
									<desc xml:lang="fr">avant la scolarisation</desc>
									<desc xml:lang="en">before school</desc>
								</valItem>
								<valItem ident="occupation.at_school">
									<desc xml:lang="fr">en scolarité</desc>
									<desc xml:lang="en">scholar</desc>
								</valItem>
								<valItem ident="occupation.professional_activity">
									<desc xml:lang="fr">en activite</desc>
									<desc xml:lang="en">in professional situation</desc>
								</valItem>
								<valItem ident="occupation.retirement">
									<desc xml:lang="fr">retraite</desc>
									<desc xml:lang="en">retirement</desc>
								</valItem>
								<valItem ident="occupation.without_job">
									<desc xml:lang="fr">sans emploi (chomage, H/F au foyer) </desc>
									<desc xml:lang="en">without job (unemployed, at home) </desc>
								</valItem>
								<valItem ident="occupation.unknown">
									<desc xml:lang="fr">inconnu</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>
				
				<elementSpec ident="langKnowledge" module="namesdates">
					<content>
						<elementRef key="langKnown" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>
				
				<elementSpec ident="langKnown" module="namesdates">
					<attList>
						<attDef ident="tag" usage="req"
							rendition="code iso des langues, cf langUsage pour l'enregistrement"
							mode="change">
							<desc xml:lang="fr">code iso des langues, cf langUsage pour l'enregistrement</desc>
							<desc xml:lang="en">language iso code, see langUsage for recording</desc>
							<datatype>
								<dataRef name="string"/>
							</datatype>
						</attDef>
						<attDef ident="level" usage="req" mode="change">
							<valList>
								<valItem ident="language.first">
									<desc xml:lang="fr">maternelle</desc>
									<desc xml:lang="en">first language</desc>
								</valItem>
								<valItem ident="language.seconde">
									<desc xml:lang="fr">seconde</desc>
									<desc xml:lang="en">other</desc>
								</valItem>
								<valItem ident="language.unknown">
									<desc xml:lang="fr">inconnu</desc>
									<desc xml:lang="en">unknown</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>
				
			</schemaSpec>
		</body>
	</text>
</TEI>
