models/tei_p3.odd

<?xml version="1.0" encoding="UTF-8"?>
    <?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
    <?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>

<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
	xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0"
	xmlns:rng="http://relaxng.org/ns/structure/1.0">

	<teiHeader>
		<fileDesc>
			<titleStmt>
      <title>
        <idno type="title">Edition simple de fichier TEI avec des div et des p</idno>
        <bibl> CORLI et IRCOM paragraphs.odd </bibl>
        <desc> Tester les fonctionnalités de base</desc>
      </title>
      <principal>
        <name type="org"> CORLI - IRCOM </name>
        <name type="org"> Christophe Parisse, Carole Etienne, Loic Liégeois, ... </name>
      </principal>
			</titleStmt>
			<publicationStmt>
				<publisher>CORLI wiki</publisher>
			</publicationStmt>
			<sourceDesc>
				<p>written from IRCOM/CORLI recommandations</p>
			</sourceDesc>
		</fileDesc>
	</teiHeader>

	<text>
		<body>
			<schemaSpec ident="TEI_P" start="TEI" ns="http://www.tei-c.org/ns/1.0">
				<!-- structure generale TEI -->

				<!-- structure generale TEI -->
				<elementSpec ident="TEI" module="textstructure" mode="change">
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="teiHeader"/>
							<elementRef key="text"/>
						</sequence>
					</content>
				</elementSpec>

				<!-- structure generale teiHeader -->
				<elementSpec ident="teiHeader" module="header" mode="change">
					<content>
						<elementRef key="fileDesc" minOccurs="1" maxOccurs="1"/>
					</content>
					<remarks style="element">
<!--					<ab>background-color: lightgreen; border-radius: 8px; margin: 3px; margin-top: 10px;</ab> -->
						<p><ident>filedesc</ident></p>
					</remarks>
				</elementSpec>

				<elementSpec ident="text">
					<content>
						<elementRef key="body" minOccurs="1" maxOccurs="1"/>
					</content>
				</elementSpec>

				<elementSpec ident="fileDesc" module="header">
					<content>
						<elementRef key="titleStmt" minOccurs="1" maxOccurs="1"/>
					</content>
				</elementSpec>

				<elementSpec ident="titleStmt" module="header" mode="change" n="1">
					<desc xml:lang="fr">La ressource: titre, description, citation, responsable, contributeurs</desc>
					<desc xml:lang="en">Resource : Title, description, citation, responsible, contributors</desc>
					<content>
						<elementRef key="title" minOccurs="1" maxOccurs="1" />
					</content>
				</elementSpec>

				<elementSpec ident="title" module="core" mode="change">
					<desc xml:lang="fr"> Titre, description, citation</desc>
					<desc xml:lang="en"> Title, description, citation</desc>
					<content>
						<textNode/>
						<elementRef key="desc" minOccurs="1" maxOccurs="1"/>
					</content>
					<remarks style="element">
						<p><ident>title</ident></p>
					</remarks>
				</elementSpec>

				<elementSpec ident="desc" module="core">
					<desc xml:lang="fr">Description courte</desc>
					<desc xml:lang="en">Short Description</desc>
					<content>
						<textNode/>
						<dataRef name="multiline"/>
					</content>
					<remarks style="element">
						<p><ident>desc</ident></p>
					</remarks>
				</elementSpec>

				<elementSpec ident="body">
					<content>
						<elementRef key="div" minOccurs="0" maxOccurs="unbounded"/>
						<elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<elementSpec ident="div">
					<desc xml:lang="fr">Div ou chapitres</desc>
					<desc xml:lang="en">Divisions or chapters</desc>
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="head" minOccurs="0" maxOccurs="1"/>
							<elementRef key="div" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="head" minOccurs="0" maxOccurs="1"/>
							<elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</content>
					<remarks style="element">
						<p><ident>div</ident></p>
					</remarks>
				</elementSpec>

				<elementSpec ident="p">
					<content>
						<textNode/>
						<dataRef name="multiline"/>
					</content>
					<remarks style="element">
						<p><ident>p</ident></p>
					</remarks>
				</elementSpec>

				<elementSpec ident="head">
					<content>
						<textNode/>
						<dataRef name="multiline"/>
					</content>
					<remarks style="element">
						<p><ident>head</ident></p>
					</remarks>
				</elementSpec>

			</schemaSpec>
		</body>
	</text>
</TEI>
